#menu-fixed
  %ul
    %li
      %a.icon-arrow-top.topUp{:href => ""}
    %li
      %a.icon-facebook{:href => "", :target => "_blank"}
    %li
      %a.icon-linkedin{:href => "", :target => "_blank"}
%section#wrapper-footer
  .container
    .footer-menu
      %ul
        %li.inactive
          %a{:href => "index.html"} Inicio
        %li.inactive.childs
          %a{:href => "#"} Sobre nosotros
          %ul
            %li{nav_active('nuestra-historia.html')}
              %a{:href => "nuestra-historia.html"} Nuestra historia
            %li{nav_active('nuestra-gente.html')}
              %a{:href => "nuestra-gente.html"} Nuestra gente
        %li.inactive{nav_active('nuestros-puestos.html')}
          %a{:href => "nuestros-puestos.html"} Nuestros Puestos
        %li{nav_active('ofertas-de-empleo.htm')}
          %a{:href => "ofertas-de-empleo.html"} Ofertas de empleo
        %li{nav_active('contactanos.html')}
          %a{:href => "contactanos.html"} Contactános
        %li.inactive.childs.featured
          %a{:href => "#"} Decathlon
          %ul
            %li{nav_active('menciones-legales.html')}
              %a{:href => "menciones-legales.html"} Menciones legales
            %li{nav_active('aviso-de-privacidad.html')}
              %a{:href => "aviso-de-privacidad.html"} Aviso de privacidad
            %li
              %a{:href => "#"} Decathlon.com.mx
        %li.inactive-lg{nav_active('menciones-legales.html')}
          %a{:href => "menciones-legales.html"} Menciones legales
        %li.inactive-lg{nav_active('aviso-de-privacidad.html')}
          %a{:href => "aviso-de-privacidad.html"} Aviso de privacidad
        %li.inactive-lg
          %a{:href => "http://www.decathlon.com.mx/"} Decathlon.com.mx
