#wrapper-header
  .container
    .logo
      %a{:href => ""}
        %img{:src => "images/logo.png", :alt => ""}/
    .button-menu
      %span.lines
    #offCanvas
      %nav.main-menu
        %ul
          %li.showsubmenu.arrow-right
            %a{:href => "#"} Gestores
            %ul.submenu
              %li.hidesubmenu.arrow-left.inactive
                %a{:href => "#"} Gestores
              %li
                %a{:href => ""} Gestor de administración 1
              %li
                %a{:href => "#"} Gestor de administración 2
              %li
                %a{:href => "#"} Gestor de administración 3
              %li
                %a{:href => "#"} Gestor de administración 4
              %li
                %a{:href => "#"} Gestor de administración 5
              %li
                %a{:href => "#"} Gestor de administración 6
              %li
                %a{:href => "#"} Gestor de administración 7
              %li
                %a{:href => "#"} Gestor de administración 8
          %li
            %a{:href => "#"} Publicar ofertas de empleo
          %li
            %a{:href => "#"} Editar contenido de la web
          %li
            %a{:href => "#"} Cerrar Sesión

