#wrapper-header
  .container
    .logo
      %a{:href => "index.html"}
        %img{:src => "images/logo.png", :alt => ""}/
    .button-menu
      %span.lines
    #offCanvas
      %nav.main-menu.with-search
        %ul
          %li.inactive{nav_active('index.html')}
            %a{:href => "index.html"} Inicio
          - if current_page.path == 'nuestra-gente.html'
            %li.showsubmenu.arrow-right.active
              %a{:href => "javascript:void(0)"} Sobre nosotros
              %ul.submenu
                %li.hidesubmenu.arrow-left.inactive
                  %a{:href => "javascript:void(0)"} Sobre nosotros
                %li
                  %a{:href => "nuestra-historia.html"} Nuestra historia
                %li
                  %a{:href => "nuestra-gente.html"} Nuestra gente
          - else
            - if current_page.path == 'nuestra-historia.html'
              %li.showsubmenu.arrow-right.active
                %a{:href => "javascript:void(0)"} Sobre nosotros
                %ul.submenu
                  %li.hidesubmenu.arrow-left.inactive
                    %a{:href => "javascript:void(0)"} Sobre nosotros
                  %li
                    %a{:href => "nuestra-historia.html"} Nuestra historia
                  %li
                    %a{:href => "nuestra-gente.html"} Nuestra gente
            - else
              %li.showsubmenu.arrow-right
                %a{:href => "javascript:void(0)"} Sobre nosotros
                %ul.submenu
                  %li.hidesubmenu.arrow-left.inactive
                    %a{:href => "javascript:void(0)"} Sobre nosotros
                  %li
                    %a{:href => "nuestra-historia.html"} Nuestra historia
                  %li
                    %a{:href => "nuestra-gente.html"} Nuestra gente
          %li{nav_active('nuestros-puestos.html')} 
            %a{:href => "nuestros-puestos.html"} Nuestros Puestos
          %li{nav_active('ofertas-de-empleo.html')} 
            %a{:href => "ofertas-de-empleo.html"} Ofertas de empleo
          - if current_page.data.body_class == 'account'
            %li.account-item.inactive
              %a{:href => ""} Ver mi perfil
            %li.showsubmenu.arrow-right.inactive-sm
              %a{:href => ""} Camilo
              %ul.submenu
                %li
                  %a{:href => ""} Mi Perfil
                %li
                  %a{:href => ""} Cerrar Sesión
            %li.inactive
              %a{:href => ""} Cerrar Sesión
          - else
            %li.account-item
              %a{:href => "login.html"} Mi cuenta
          %li.search-item
            %form.search-form{:action => ""}
              %input.field{:type => "text", :placeholder => "Buscar"}/
              .btn
                %i.icon-search

