[data-icon]:before
  font-family: "Custom Icons" !important
  content: attr(data-icon)
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class^='icon-']:before, [class*=' icon-']:before
  font-family: "Custom Icons" !important
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  display: block

.icon-search:before 
  content: "\e000"

.icon-people:before 
  content: "\e001"

.icon-business:before 
  content: "\e002"

.icon-arrow-top:before 
  content: "\e003"

.icon-arrow-right:before 
  content: "\e004"

.icon-arrow-bottom:before 
  content: "\e005"

.icon-arrow-left:before 
  content: "\e006"

.icon-facebook:before 
  content: "\e007"

.icon-linkedin:before 
  content: "\e008"

.icon-instagram:before 
  content: "\e009"

.icon-youtube:before 
  content: "\e00a"

.icon-youtube-play:before 
  content: "\e00b"

.icon-twitter:before 
  content: "\e00c"

.icon-envelope:before 
  content: "\e00d"

.icon-play:before 
  content: "\e00e"

.icon-edit:before 
  content: "\e00f"

.icon-cancel:before 
  content: "\e010"

.icon-eye:before 
  content: "\e011"

.icon-eye-1:before 
  content: "\e012"

.icon-quote:before 
  content: "\e013"

.icon-check-circle:before 
  content: "\e014"

.icon-download:before 
  content: "\e015"

.icon-star:before 
  content: "\e016"

.icon-mail:before 
  content: "\e017"

.icon-mail-read:before 
  content: "\e018"

.icon-cog:before 
  content: "\e019"

.icon-phone-contact:before 
  content: "\e01a"

