// ======================================================================================
// Fonts
// ======================================================================================
@font-face
  font-family: "Din Regular"
  src: url("../fonts/din-regular-webfont.eot")
  src: url("../fonts/din-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din-regular-webfont.woff") format("woff"), url("../fonts/din-regular-webfont.ttf") format("truetype"), url("../fonts/din-regular-webfont.svg#din-regular-webfont") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Din Bold"
  src: url("../fonts/din-bold-webfont.eot")
  src: url("../fonts/din-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/din-bold-webfont.woff") format("woff"), url("../fonts/din-bold-webfont.ttf") format("truetype"), url("../fonts/din-bold-webfont.svg#din-bold-webfont") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "DinPro Regular"
  src: url("../fonts/dinpro-regular-webfont.eot")
  src: url("../fonts/dinpro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-regular-webfont.woff") format("woff"), url("../fonts/dinpro-regular-webfont.ttf") format("truetype"), url("../fonts/dinpro-regular-webfont.svg#dinpro-regular-webfont") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "DinPro Medium"
  src: url("../fonts/dinpro-medium-webfont.eot")
  src: url("../fonts/dinpro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-medium-webfont.woff") format("woff"), url("../fonts/dinpro-medium-webfont.ttf") format("truetype"), url("../fonts/dinpro-medium-webfont.svg#dinpro-medium-webfont") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "DinPro Bold"
  src: url("../fonts/dinpro-bold-webfont.eot")
  src: url("../fonts/dinpro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-bold-webfont.woff") format("woff"), url("../fonts/dinpro-bold-webfont.ttf") format("truetype"), url("../fonts/dinpro-bold-webfont.svg#dinpro-bold-webfont") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "DinPro Light"
  src: url("../fonts/dinpro-light-webfont.eot")
  src: url("../fonts/dinpro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dinpro-light-webfont.woff") format("woff"), url("../fonts/dinpro-light-webfont.ttf") format("truetype"), url("../fonts/dinpro-light-webfont.svg#dinpro-light-webfont") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Custom Icons"
  src: url("../fonts/custom-icons.eot")
  src: url("../fonts/custom-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/custom-icons.woff") format("woff"), url("../fonts/custom-icons.ttf") format("truetype"), url("../fonts/custom-icons.svg#custom-icons") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ITCAvantGardeStd-Bold"
  src: url("../fonts/ITCAvantGardeStd-Bold.eot")
  src: url("../fonts/ITCAvantGardeStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardeStd-Bold.woff") format("woff"), url("../fonts/ITCAvantGardeStd-Bold.ttf") format("truetype"), url("../fonts/ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold") format("svg")
  font-weight: normal
  font-style: normal

=font-regular
  font-family: "Din Regular"
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=font-bold
  font-family: "DinPro Bold"
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=fontpro-regular
  font-family: "DinPro Regular"
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=fontpro-medium
  font-family: "DinPro Medium"
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=fontpro-bold
  font-family: "DinPro Bold"
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=fontpro-light
  font-family: "DinPro Light"
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=font-quotes
  font-family: "ITCAvantGardeStd-Bold"
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
