// ======================================================================================
// Footer
// ======================================================================================
#wrapper-footer
  background: $gray-light
  position: relative
  overflow: hidden
  &.inactive
    &::before
      +bg-dark-off-canvas
  .container
    position: relative
    +bp960
      padding: 0 1em

//Menu
.footer-menu
  padding: 1.5em 0
  ul
    margin: 0
    padding: 0
    text-align: center
    li
      list-style: none
      display: block
      vertical-align: top
      &.inactive
        display: none
        visibility: hidden
    a
      display: block
      +fontpro-bold
      color: $white
      font-size: 16px
      margin: 0 .8em 1em
  +bp960
    padding: 0
    position: relative
    ul
      li
        padding: 1em 0
        display: inline-block
        +prefix(transition, all .5s ease)
        &.inactive
          display: inline-block
          visibility: visible
        &.inactive-lg
          display: none
          visibility: hidden
        &:hover
          background: #aaaaaa
        ul
          text-align: left
          margin-top: 0.8em
          li
            padding: 0
            display: block
            position: relative
            &:before
              font-family: "Custom Icons" !important
              line-height: 1
              top: 0
              left: 0
              font-size: 2em
              color: $white
              position: absolute
              display: block
              content: "\e004"
              opacity: 0
              +prefix(transition, all .5s ease)
            &:hover
              background: #cdcdcd
              &:before
                left: 2px
                opacity: 1
            &.active
              background: #cdcdcd
              &:before
                left: 2px
                opacity: 1
            a
              +fontpro-light
              padding: 0.3em
        a
          margin: 0 1.5em
        &.featured
          background: #aaaaaa

.social
  margin: 0
  text-align: center
  h3
    display: inline-block
    vertical-align: top
    +fontpro-bold
    color: $white
    font-size: 16px
  ul
    margin: 0
    padding: 0
    text-align: center
    display: inline-block
    vertical-align: top
    li
      display: inline-block
    a
      margin: 0 5px
      border-bottom: 0
      color: $gray-light
      background: $white
      display: block
      padding: 4px
      font-size: 1.5em
  +bp960
    position: absolute
    right: 0
    bottom: 1em
    h3
      margin: 4px 0
    li
      padding: 0
      a
        margin: 0 0.5em

.legal-warning
  background: $dark
  padding: 0.8em
  text-align: center
  a
    color: #afafaf




