// ======================================================================================
// Forms
// ======================================================================================
input[type="text"], input[type="email"], input[type="number"], input[type="date"], input[type="password"], textarea, select
  width: 100%
  display: block
  padding: 7px 15px
  outline: none
  font-size: 18px
  letter-spacing: -1px
  +prefix(box-sizing, border-box)
  border: 1px solid $gray
  box-shadow: 0px 3px 0px #d2d2d2
  margin-bottom: 0.8em
  &.error
    border: 1px solid lighten($red, 20%)
    box-shadow: 0px 3px 0px lighten($red, 25%)
    color: lighten($red, 20%)
    &::-webkit-input-placeholder
      color: lighten($red, 20%)

    &:-moz-placeholder
      color: lighten($red, 20%)

    &::-moz-placeholder
      color: lighten($red, 20%)

    &:-ms-input-placeholder
      color: lighten($red, 20%)

input[type="submit"], input[type="button"], button, .button
  background: $blue
  padding: 10px 30px
  font-size: 18px
  +font-bold
  color: #fff
  outline: none
  border: 0
  margin: 1em 0
  +prefix(transition, all .3s ease)
  display: inline-block
  &:hover
    background: darken($blue, 5%)
  &.full
    width: 100%

.btn-center
  text-align: center
  +bp960
    text-align: left

.btn-both
  text-align: center
  +bp960
    text-align: right

.no-margin
  margin: 0 !important

.form-login
  +bp640
    margin: 2em 0

.forget-password
  text-align: center
  font-style: italic
  font-size: 14px
  clear: both
  padding: 1em 0
  +font-bold
  a
    color: $white
  +bp768
    text-align: right
    padding: 0


.section-content, .section-form
  margin: 1em 0
  overflow: hidden
  h2
    .required
      display: inline-block
      font-size: 0.6em
      vertical-align: top
      &:before
        content: '*'
        color: $red

.field, .fields
  &.required
    .label
      label
        &:before
          content: '*'
          color: $red
  &.simple
    margin-bottom: 1.5em
    input, textarea
      box-shadow: 0 0 0
      border: 0
      border-radius: 5px
      padding: 10px 15px
    .button
      border: 0
      border-radius: 5px
      box-shadow: 0 0 0
  &.disabled
    color: #ccc
    .radio label, .checkbox label
      border: 1px solid #ccc


label, .label span
  position: relative
  font-size: 18px
  letter-spacing: -1px
  padding: 10px 0 0 15px
  display: inline-block
  margin-bottom: 0.7em
  &.bold
    +font-bold
  +bp960
    padding: 10px 0
    margin-bottom: 0

label
  &.error
    color: lighten($red, 20%)
    padding: 0

.group-fields
  margin-top: 1em
  margin-bottom: 1em
  padding: 0 1em
  +bp768
    padding: 0

.file-simple
  margin: 2em 0 0
  input[type="file"]
    display: none
  label
    padding: 0.3em 1em
    cursor: pointer
    display: inline-block
    font-size: 22px
    +font-bold
    background: $emeraldgreen
    color: $white
    +prefix(transition, all .5s ease)
    &:hover
      background: darken($emeraldgreen, 5%)
  +bp768
    margin: 2em 0

.file-custom
  .inputfile 
    width: 0.1px
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1
  label
    max-width: 100%
    text-overflow: ellipsis
    white-space: nowrap
    cursor: pointer
    display: inline-block
    padding: 0.625rem 1.25rem
    text-align: center
    .textfield
      span
        padding: 0.625rem 1.25rem
        width: 100%
        display: inline-block
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        vertical-align: top
        height: 43px
        vertical-align: top
        border: 1px solid #828282
        background: $white
        box-shadow: 0px 3px 0px #d2d2d2
        text-align: left
        +prefix(box-sizing, border-box)
      .text
        white-space: initial
        font-size: 15px
        margin: 10px 0
        text-align: left
    .button
      padding: 0.625rem 1.25rem
      display: inline-block
      margin: 0
      text-align: center

.radio, .checkbox
  display: inline-block
  margin-bottom: 1.5em
  label
    +prefix(box-sizing, border-box)
    border: 1px solid $gray
    box-shadow: 0px 3px 0px #d2d2d2
    padding: 10px 0
    text-align: center
    display: inline-block
    vertical-align: middle
    cursor: pointer
    background: $white
    width: 40px
    height: 40px
    position: relative
    &.checked
      color: $gray
      &::before
        content: "✔"
        color: $emeraldgreen
        position: absolute
        top: 5px
        right: 0
        text-align: center
        left: 0
  input
    display: none
    visibility: hidden
  span
    font-size: 17px
    display: inline-block
    padding: 10px 0 0 5px
    vertical-align: top
    &.compact
      width: 82%
      +bp640
        width: auto

.button-action
  .radio, .checkbox
    label
      border: 0
      box-shadow: 0 0 0
      background: transparent
      width: 100%
      i
        display: inline-block
      &.checked
        i
          &.icon-star
            color: $yellow
          &.icon-phone-contact
            color: $orange
          &.icon-cog
            color: $blue
          &.icon-check-circle
            color: $green
          &.icon-cancel
            color: $red
        &::before
          content: ''

select
  +prefix(appearance, none)
  background: transparent
  -moz-border-radius: 0
  border-radius: 0
  width: 110%
  border: 0
  box-shadow: 0 0 0
  margin-bottom: 0

.select
  .mask
    background: url(../images/arrow-down.png) $white no-repeat 95% center
    overflow: hidden
    border: 1px solid $gray
    box-shadow: 0px 3px 0px #d2d2d2
    margin-bottom: 1.5em
    cursor: pointer

.btn-right
  text-align: right

.birthdate
  .month
    padding: 0
    +bp480
      padding-left: 10px
      padding-right: 10px



