// ======================================================================================
// Header
// ======================================================================================
#wrapper-header
  background: rgba($blue-light,  0.8)
  box-shadow: 0 0 10px rgba($black, 0.5)
  position: fixed
  top: 0
  width: 100%
  z-index: 10
  .container
    +bp960
      padding: 0 1em
//Logo
.logo
  text-align: center
  width: 100%
  a
  img
    display: inline-block
    width: 175px
  +bp960
    padding: 1em 0
    width: 19%
    text-align: left
    display: inline-block

//Main Menu
#offCanvas
  position: fixed
  width: 81%
  background: $blue-medium
  left: -81%
  top: 58px
  right: 0
  +prefix(transition, all .5s ease)
  bottom: 0
  overflow: hidden
  &.active
    left: 0
  +bp960
    background: transparent
    position: static
    display: inline-block
    vertical-align: top
    text-align: right
    overflow: visible
.main-menu
  & > ul
    margin: 0
    padding: 0
    position: absolute
    width: 100%
    top: 0
    left: 0
    +prefix(transition, all .5s ease)
    &.active
      left: -100%
  &.with-search
    & > ul
      padding: 104px 0 0
  +bp960
    & > ul
      position: static
    &.with-search
      & > ul
        padding: 0
  li
    list-style: none
    padding: 0 1.5em
    .submenu
      padding: 0
      margin: 0
      position: absolute
      left: 100%
      right: 0
      top: 0
      width: 100%
      +prefix(transition, all .3s ease)
    &.arrow-right
      & > a
        position: relative
        &::after
          content: '>'
          +fontpro-medium
          color: white
          position: absolute
          top: 12px
          font-size: 20px
          right: 0
    &.arrow-left
      & > a
        position: relative
        padding: 1.2em 0 1.2em  1.3em
        &::before
          content: '<'
          +fontpro-medium
          color: white
          position: absolute
          top: 12px
          font-size: 20px
          left: 0
    +bp960
      padding: 1px 0 0
      display: inline-block
      vertical-align: top
      position: relative
      &:hover
        background: rgba(#036d9c, 0.8)
        .submenu
          height: auto
          min-width: 240px
      .submenu
        text-align: left
        background: rgba(#036d9c, 0.8)
        left: 0
        top: 58px
        height: 0
        overflow: hidden
        min-height: 0
        li
          display: block
          border-bottom: 1px solid rgba($white, 0.5)
          margin: 0 1em
          &:last-child
            border-bottom: 0
          a
            padding: 0.2em 0
      &.arrow-right
        & > a
          padding: 1.1em 1.8em 1.1em 1.4em
          &::after
            top: 17px
            right: 10px
            +prefix(transform, rotate(90deg))
            +prefix(transition, all .5s ease)
          &:hover, &:focus
            &::after
              +prefix(transform, rotate(270deg))
              right: 10px
      &.arrow-left
        & > a
          padding: 1.1em
          &::before
    &.active
      background: rgba(#036d9c, 0.8)
      a
        +fontpro-bold

  a
    +fontpro-light
    display: block
    color: $white
    padding: 1.2em 0
    border-bottom: 1px solid rgba($white, 0.5)
    +prefix(transition, all .5s ease)
    +bp960
      border-bottom: 0
      padding: 1.1em 1.5em
      font-size: 1.2em
      letter-spacing: -1px
  .account-item
    position: absolute
    background: $blue-dark
    width: 100%
    top: 0
    left: 0
    +prefix(box-sizing, border-box)
    a
      border-bottom: 0
      font-size: 18px
      padding: 0.8em 0
      +fontpro-bold
    +bp960
      position: relative
      background: transparent
      width: initial
      vertical-align: top
      a
        font-size: 1.2em
        +fontpro-light
        padding: 1.089em
        &.active
          +fontpro-bold

  .search-item
    position: absolute
    width: 100%
    top: 52px
    left: 0
    +prefix(box-sizing, border-box)
    .search-form
      position: relative
    .btn
      position: absolute
      background-size: cover
      height: 20px
      width: 20px
      top: 1.2em
      left: 0.3em
      i
        color: rgba($white, 0.5)
        font-size: 1.5em
    .field
      background-color: transparent
      border: 0
      border-bottom: 1px solid rgba($white, 0.5)
      margin-bottom: 0
      padding: 1em 0 1em 3em
      color: rgba($white, 0.5)
      box-shadow: 0 0 0
      &::-webkit-input-placeholder
        color: rgba($white, 0.5)
      &:-moz-placeholder
        color: rgba($white, 0.5)
      &::-moz-placeholder
        color: rgba($white, 0.5)
      &:-ms-input-placeholder  
        color: rgba($white, 0.5)
    +bp960
      position: static
      width: initial
      display: inline-block
      padding: 0.12em 0
      .btn
        position: static
        padding: 1.2em 0.8em 1.4em
        cursor: pointer
      .field
        position: absolute
        top: 0
        opacity: 0
        visibility: hidden
        width: 200px
        right: 0
        background: rgba($blue, 0.8)
        border-bottom: 0
        padding: 1.2em
        +prefix(transition, all .3s ease)
        &.active
          top: 57px
          opacity: 1
          visibility: visible
  .social
    margin: 2em 0
    text-align: center
    padding: 0
    li
      display: inline-block
    a
      border-bottom: 0
      color: $blue-medium
      background: $white
      display: block
      padding: 4px
      font-size: 1.5em
    +bp960
      display: none
      visibility: hidden
  .inactive
    +bp960
      display: none !important
      visibility: hidden
  .inactive-sm
    display: none
    visibility: hidden 
    +bp960
      display: inline-block
      visibility: visible

//Icon Menu
=lines
  display: inline-block
  width: 25px
  height: 4px
  background: $white
  +prefix(transition, all .3s ease)
.button-menu
  padding: 0.5em 0
  +prefix(transition, all .3s ease)
  cursor: pointer
  position: absolute
  top: 0.7em
  left: 1.5em
  .lines
    position: relative
    +lines
    &:before,  &:after
      +lines
      position: absolute
      left: 0
      content: ''
      transform-origin: 3.5em/14 center
    &:before 
      top: 8px
    &:after 
      top: -8px

  &.close
    .lines
      background: transparent
      &:before, &:after
        transform-origin: 50% 50%
        top: 0
        width: 25px
      &:before
        transform: rotate3d(0, 0, 1, 45deg)
      &:after
        transform: rotate3d(0, 0, 1, -45deg)
  +bp960
    display: none
    visibility: hidden

