// ======================================================================================
// Containers
// ======================================================================================
.container
  padding: 1em
  +prefix(box-sizing, border-box)
  +bp960
    width: 960px
    margin: 0 auto
  +bp1024
    width: 1024px

// ======================================================================================
// Content
// ======================================================================================
//MenuFixed
#menu-fixed
  position: fixed
  right: 0
  top: 35%
  z-index: 1
  opacity: 0
  visibility: hidden
  +prefix(transition, opacity .3s ease)
  ul
    margin: 0
    padding: 0
    li
      display: block
      list-style: none
    a
      display: block
      height: 50px
      width: 50px
      text-align: center
      padding: 0.4em 0
      +prefix(box-sizing, border-box)
      +prefix(transition, all .3s ease)
      color: $white
      font-size: 2em
    .topUp
      background: $dark-medium
      margin-bottom: 50px
      &:hover
        background: darken($dark-medium, 10%)
    .icon-facebook
      background: $facebook-color
      &:hover
        background: darken($facebook-color, 10%)
    .icon-linkedin
      background: $linkedin-color
      &:hover
        background: darken($linkedin-color, 10%)
  &.active
    opacity: 1
    visibility: visible
  +bp640
    top: 41%

=bg-dark-off-canvas
  content: ''
  background: rgba($black,0.5)
  top: 0
  right: 0
  bottom: 0
  left: 0
  position: absolute
  z-index: 5
  +bp960
    position: relative

#wrapper-content
  background: url(../images/bg.jpg) #f6f6f3
  background-size: 100%
  background-position: center bottom
  background-repeat: no-repeat
  margin-top: 58px
  position: relative
  box-shadow: 0px 0px 40px rgba($black, 0.3)
  z-index: 1
  &.inactive
    &::before
      +bg-dark-off-canvas
  &.with-featured-image
    margin-top: 0
  .container
    padding: 1em 2em
    &.article
      padding: 1em 0
      margin-bottom: 0
    +bp640
      &.article
        padding: 2em
      padding: 2em
    +bp960
      &.article
        padding: 1em
      padding: 1em
  &.gradient
    background: -moz-linear-gradient(top,  $white 60%, #f6f6f3 100%)
    background: -webkit-linear-gradient(top,  $white 60%,#f6f6f3 100%)
    background: linear-gradient(to bottom,  $white 60%,#f6f6f3 100%)
  &.no-bg
    background: none



//Featued image
.featured-image
  background-size: cover
  background-position: center center
  position: relative
  +prefix(transition, all .3s ease)
  &.small
    height: 275px
    .content
      height: 275px
  &.medium
    height: 275px
    .content
      height: 275px
  &.large
    height: 375px
    .content
      height: 375px
  &.big
    height: 475px
    .content
      height: 475px
  &.right
    background-position: right center
  &.top
    background-position: top center
  .content
    position: relative
    padding: 5em 1em 0
    overflow: hidden
    +prefix(box-sizing, border-box)
  &.inactive
    display: none
    visibility: hidden
  +bp480
    &.small
      height: 315px
      .content
        height: 315px
    &.medium
      height: 325px
      .content
        height: 325px
    &.large
      height: 400px
      .content
        height: 400px
    &.big
      height: 475px
      .content
        height: 475px
  +bp768
    &.medium
      height: 400px
      .content
        height: 400px
    &.large
      height: 510px
      .content
        height: 510px
    &.big
      height: 540px
      .content
        height: 540px
    &.inactive
      display: block
      visibility: visible
  +bp960
    .content
      width: 960px
      margin: 0 auto
      padding: 5em 0 0
  +bp1024
    .content
      width: 1024px

  .caption
    position: absolute
    bottom: 0.8em
    left: 2em
    width: 220px
    &.full, &.medium
      width: 270px
    &.font-medium
      .text-above
        font-size: 18px
        letter-spacing: -1px
        line-height: 30px
  .text-above
    background: rgba($blue-light, 0.7)
    font-size: 38px
    line-height: 34px
    color: $white
    text-transform: uppercase
    border-bottom: 5px solid $orange
    padding: 0.3em
    +fontpro-bold
    letter-spacing: -3px
    margin: 0
    &.border
      border-bottom: 10px solid $orange

  .text-below
    font-size: 14px
    background-color: $orange
    background: -moz-linear-gradient(315deg, transparent 10px, $orange 0) bottom right
    background: -webkit-linear-gradient(315deg, transparent 10px, $orange 0) bottom right
    background: linear-gradient(315deg, transparent 10px, $orange 0) bottom right
    color: $white
    padding: 0 10px 5px
    position: relative
    +fontpro-bold
    a
      color: $white
      +fontpro-light
      display: block
  +bp480
    .caption
      width: 330px
      left: 2em
      &.full, &.medium
        width: 350px
    .text-above
      font-size: 49px
      line-height: 45px
    .text-below
      font-size: 15px
      a
        display: inline-block
  +bp768
    .caption
      width: 380px
      &.full, &.medium
        width: 500px
        .text-above
          font-size: 42px

      &.font-medium
        .text-above
          font-size: 30px

    .text-above
      border-bottom: 7px solid $orange
      font-size: 60px
      line-height: 58px
      padding: 0.3em
    .text-below
      font-size: 18px
      text-align: center
      padding: 0 10px 7px
      a
        font-size: 0.9em
  +bp960
    .caption
      left: 1em
      bottom: 4em
      &.full
        width: 520px
      &.medium
        width: 420px

//Boxs
.box
  margin-bottom: 30px
  font-size: 16px
  text-align: center
  overflow: hidden
  +prefix(box-sizing, border-box)
  position: relative
  +bp960
    margin-bottom: 20px

  .hire
    font-size: 40px
    line-height: 50px
    +fontpro-light
    text-transform: lowercase

  .position
    +fontpro-bold
    font-size: 50px
    margin-bottom: 0.3em
    letter-spacing: -2px
    text-transform: lowercase
    line-height: 52px

  .btn
    color: $white
    text-transform: initial
    box-shadow: 0 0 0 2px $white
    font-size: 22px
    padding: 0.2em 0.8em
    position: relative
    z-index: 1
    letter-spacing: -2px
    display: block
    max-width: 100px
    margin: 0 auto
    text-transform: lowercase
    +font-regular
    +prefix(transition, color 0.3s)
    &::after
      content: ''
      top: 0
      left: 0
      z-index: -1
      background: $white
      opacity: 0
      width: 100%
      height: 100% 
      position: absolute
      -webkit-transition: transform 0.2s, opacity 0.3s
      transition: transform 0.2s, opacity 0.3s
      +prefix(transform, scale(1.3))
      +prefix(box-sizing, border-box)
    &:hover
      &::after
        opacity: 1
        +prefix(transform, scale(1))
    &.uppercase
      text-transform: uppercase
      max-width: 210px
      font-size: 20px
    &.inline
      max-width: 210px
      font-size: 20px
    &.mini
      font-size: 15px
      letter-spacing: -1px
      max-width: 160px
      text-align: center
      margin-top: 1em

  .image-testimonial
  .content-testimonial
    +prefix(box-sizing, border-box)
    padding: 2em 1.5em 1em
    position: relative
    text-align: left
    .name
      +fontpro-bold
      color: $white
      text-transform: lowercase
      font-size: 40px
      line-height: 45px
      letter-spacing: -2px
    .position
      +fontpro-light
      text-transform: uppercase
      color: $white
      font-size: 18px
      letter-spacing: 0
      line-height: 20px
    .title
      +fontpro-bold
      text-transform: lowercase
      color: $white
      font-size: 48px
      letter-spacing: -3px
      margin-bottom: 0
    p
      color: $white
    &::after
      content: ''
      border-left: 25px solid transparent
      border-right: 25px solid transparent
      border-bottom: 25px solid transparent
      position: absolute
      top: -25px
      left: 30px
    +bp768
      padding: 1.5em
      p
        font-size: 16px
        line-height: 18px
        margin: 0.4em 0
        text-transform: initial
    +bp1024
      padding: 1em 2.5em
      min-height: 320px

  .number
    +fontpro-bold
    font-size: 72px
    letter-spacing: -5px
    +bp960
      line-height: 60px

  .data
    position: relative
    text-transform: uppercase
    padding: 0 
    display: inline-block
    .icon
      position: absolute
      font-size: 30px
    .text
      padding: 0 0 0 3em
      text-align: left
      font-size: 14px
    +bp480
      .icon
        top: -6px
    +bp640
      margin: 1em 0
      .text
        font-size: 18px
      .icon
        font-size: 40px
    +bp960
      width: 90%
      margin: 1em auto 0
      .icon
        font-size: 32px
        top: 0
      .text
        font-size: 15px

  .statement
    +fontpro-bold
    text-transform: lowercase
    font-size: 27px
    line-height: 29px
    margin-bottom: 20px
    +bp640
      font-size: 35px
      line-height: 45px
    +bp960
      font-size: 30px
      line-height: 30px

  .statement-head
    font-size: 23px
    +bp640
      font-size: 27px
  .value
    font-size: 90px
    +fontpro-bold
    &::before
      content: '#'
      font-size: 0.6em
      vertical-align: top
      display: inline-block
      margin-top: 8px
    +bp640
      font-size: 120px
  .statement-footer
    +fontpro-bold
    font-size: 16px
    +bp640
      font-size: 18px

  &.box-simple
    padding: 1.3em 0 0 0
    min-height: 320px
    .title
      +fontpro-bold
      text-transform: uppercase
      color: $white
      font-size: 48px
      letter-spacing: -3px
    &.box-both
      .title
        margin: 1em 0 3.2em
      p
        font-size: 24px




    &.box-data
      padding: 4em 2em 1em
      +bp640
        margin-bottom: 15px
      +bp960
        min-height: 300px

    
  &.box-mini
    padding: 1em 2em
    +bp480
      padding: 1em 3em
    +bp640
      padding: 3em
    +bp960
      padding: .85em
      min-height: 135px
    +bp1024
      min-height: 154px 

  &.box-video
    position: relative
    .youtube
      cursor: pointer
      .play
        position: absolute
        transition: all 0.2s ease
        color: $white
        font-size: 7em
        text-align: center
        left: 0
        right: 0
        width: 100%
        top: 27%
        bottom: 0
        opacity: 0.8
        +prefix(transition, all .3s ease)
        &:hover
          opacity: 1
          font-size: 7.2em

  &.box-banner
    background-size: cover
    background-position: 150%
    background-repeat: no-repeat
    padding: 1em
    text-align: left
    position: relative
    min-height: 300px
    +prefix(transition, background-position .5s)
    a
      color: $white
    .icon
      position: absolute
      top: 41%
      bottom: 0
      font-size: 3em
      left: 0
      +prefix(transition, left .5s)
    .content
      padding: 2em 1em 0 4em
      +prefix(transform, translate3d(-40px,0,0))
      -webkit-transition: transform .5s
      transition: transform .5s
    &:hover
      background-position: 300%
      .icon
        left: 0.6em
      .content
        +prefix(transform, translate3d(0,0,0))
    .title
      +fontpro-bold
      font-size: 35px
      text-transform: lowercase
      line-height: 31px
      margin-bottom: 0.3em
      color: $white
      text-align: left
      letter-spacing: - 2px
    .info
      text-transform: lowercase
      font-size: 18px
      line-height: 18px
      letter-spacing: 0
    +bp480
      min-height: 200px
    +bp640
      background-size: 70%
      background-position: 0
      &:hover
        background-position: -50%
    +bp960
      background-size: 39%
      background-position: 0 20%
      min-height: 125px
      &:hover
        background-position: 0 20%
        .icon
          left: 50%
      .content
        padding: 1em 1em 0 33em
      .icon
        top: 33%
        left: 40%

  &.bg-heart
    background-image: url(../images/bg-heart.png)
    background-size: 60%
    background-position: left 60%
    background-repeat: no-repeat
    padding: 4em 0
    +bp640
      padding: 4.6em 0
    +bp960
      min-height: 325px
    +bp1024
      padding: 5.38em 0.5em

  &.bg-jobs
    background-image: url(../images/bg-job.png)
    background-size: 60%
    background-position: left 60%
    background-repeat: no-repeat
    padding: 4em 0
    +bp640
      padding: 4.6em 0
    +bp960
      min-height: 328px
      &.custom-height
        min-height: 299px
    +bp1024
      padding: 1em 0.5em
      &.padding
        padding: 4em 0.5em 1em

  &.no-bg
    +bp640
      padding: 5.7em 0

  &.bg-winners
    background-image: url(../images/bg-cup.png)
    background-size: 45%
    background-position: left 55%
    background-repeat: no-repeat
    padding: 4em 0
    +bp960
      padding: 2.3em 0
    +bp1024
      padding: 3em 0

  &.bg-white
    background-color: $white
    color: $gray
    .btn
      &:hover
        color: $white
    .content-testimonial
      &::after
        border-bottom-color: $white
    .share
      ul
        li
          a
            &.icon-twitter, &.icon-facebook, &.icon-linkedin, &.icon-envelope
              color: $white

  &.bg-green
    background-color: $green
    color: $white
    .btn
      &:hover
        color: $green
    .content-testimonial
      &::after
        border-bottom-color: $green
    .share
      ul
        li
          a
            &.icon-twitter, &.icon-facebook, &.icon-linkedin, &.icon-envelope
              color: $green

  &.bg-blue
    background-color: $blue
    color: $white
    .btn
      &:hover
        color: $blue
    .content-testimonial
      &::after
        border-bottom-color: $blue
    .share
      ul
        li
          a
            &.icon-twitter, &.icon-facebook, &.icon-linkedin, &.icon-envelope
              color: $blue

  &.bg-orange
    background-color: $orange
    color: $white
    .btn
      &:hover
        color: $orange
    .content-testimonial
      &::after
        border-bottom-color: $orange
    .share
      ul
        li
          a
            &.icon-twitter, &.icon-facebook, &.icon-linkedin, &.icon-envelope
              color: $orange

  &.bg-salmon
    background-color: $salmon
    color: $white
    .btn
      &:hover
        color: $salmon
    .content-testimonial
      &::after
        border-bottom-color: $salmon
    .share
      ul
        li
          a
            &.icon-twitter, &.icon-facebook, &.icon-linkedin, &.icon-envelope
              color: $salmon

  &.bg-emeraldgreen
    background-color: $emeraldgreen
    color: $white
    .btn
      &:hover
        color: $emeraldgreen
    .content-testimonial
      &::after
        border-bottom-color: $emeraldgreen
    .share
      ul
        li
          a
            &.icon-twitter, &.icon-facebook, &.icon-linkedin, &.icon-envelope
              color: $emeraldgreen


  &.box-both
    +bp640-bp960
      .image-testimonial, .content-testimonial
        display: inline-block
        width: 50%
        vertical-align: top
      .image-testimonial
      .content-testimonial
        padding: 1.5em 1.5em 0.5em
      &.aw-right
        clear: both
        overflow: hidden
        .image-testimonial
          float: right
        .content-testimonial
          float: left
          &::after
            content: ''
            border-top: 25px solid transparent
            border-left: 25px solid transparent
            border-bottom: 25px solid transparent
            position: absolute
            top: 30px
            left: inherit
            right: -50px
        &.bg-white
          .content-testimonial
            &::after
              border-left-color: $white
        &.bg-green
          .content-testimonial
            &::after
              border-left-color: $green
        &.bg-blue
          .content-testimonial
            &::after
              border-left-color: $blue
        &.bg-orange
          .content-testimonial
            &::after
              border-left-color: $orange
        &.bg-salmon
          .content-testimonial
            &::after
              border-left-color: $salmon
        &.bg-emeraldgreen
          .content-testimonial
            &::after
              border-left-color: $emeraldgreen
    +bp960
      .content-testimonial
        min-height: 330px
        padding: 3em 1.5em 2.5em
    +bp1024
      .content-testimonial
        min-height: 345px
      .content-testimonial
        &.custom-height
          min-height: 357px
      &.middle
        .content-testimonial
          min-height: 330px

  &.box-horizontal
    +bp640
      .image-testimonial, .content-testimonial
        display: inline-block
        width: 50%
        vertical-align: top

  +bp640
    &.arrow-left
      .content-testimonial
        &::after
          content: ''
          border-top: 25px solid transparent
          border-right: 25px solid transparent
          border-bottom: 25px solid transparent
          position: absolute
          top: 30px
          left: -50px
      &.bg-white
        .content-testimonial
          &::after
            border-right-color: $white
      &.bg-green
        .content-testimonial
          &::after
            border-right-color: $green
      &.bg-blue
        .content-testimonial
          &::after
            border-right-color: $blue
      &.bg-orange
        .content-testimonial
          &::after
            border-right-color: $orange
      &.bg-salmon
        .content-testimonial
          &::after
            border-right-color: $salmon
      &.bg-emeraldgreen
        .content-testimonial
          &::after
            border-right-color: $emeraldgreen
    &.arrow-right
      clear: both
      overflow: hidden
      .image-testimonial
        float: right
      .content-testimonial
        float: left
        &::after
          content: ''
          border-top: 25px solid transparent
          border-left: 25px solid transparent
          border-bottom: 25px solid transparent
          position: absolute
          top: 30px
          left: inherit
          right: -50px
      &.bg-white
        .content-testimonial
          &::after
            border-left-color: $white
      &.bg-green
        .content-testimonial
          &::after
            border-left-color: $green
      &.bg-blue
        .content-testimonial
          &::after
            border-left-color: $blue
      &.bg-orange
        .content-testimonial
          &::after
            border-left-color: $orange
      &.bg-salmon
        .content-testimonial
          &::after
            border-left-color: $salmon
      &.bg-emeraldgreen
        .content-testimonial
          &::after
            border-left-color: $emeraldgreen

.wrapper-jobs
  margin: 2em 0
  .job-item
    .box
      text-align: left
      padding: 1.3em
      .title
        +fontpro-bold
        color: $white
        text-transform: lowercase
        font-size: 41px
        letter-spacing: -4px
        margin-bottom: 0
        text-align: left
      .share
        text-align: center
        opacity: 0
        +prefix(transition, opacity .5s ease)
      &:hover
        .share
          opacity: 1
      &.featured
        .title
          font-size: 48px
          word-break: break-word
          line-height: 55px
        +bp1024
          min-height: 717px

.inner-box
  position: absolute
  top: 50%
  left: 0
  padding: 0 0.5em
  +prefix(box-sizing, border-box)
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)
  width: 100%

//Content
.main-title
  font-size: 25px
  line-height: 25px
  +fontpro-bold
  color: $white
  text-align: center
  text-transform: uppercase
  margin: 0.3em 0
  &.left
    text-align: left
  +bp768
    font-size: 50px
    line-height: 55px
  

.title
  color: $gray
  font-size: 25px
  +font-bold
  text-align: center
  margin-bottom: 1em
.description
  color: $white
  font-size: 18px
  text-align: center
  +bp768
    font-size: 38px
.tagline
  font-size: 18px
  margin: 0.8em 0
  &.center
    text-align: center
    +bp960
      text-align: left

.sub-title
  font-size: 25px
  +font-bold
  color: $gray
  position: relative
  width: 100%
  margin-bottom: 0
  overflow: hidden
  text-align: center
  span
    display: inline-block
    vertical-align: baseline
    zoom: 1
    position: relative
    padding: 0
    width: 230px
    &::before, &::after
      content: ''
      display: block
      width: 1000px
      position: absolute
      top: 0.73em
      border-top: 1px solid #e5e5e5
    &::before
      right: 100%
    &::after
      left: 100%
  .tagline
    text-align: center
    +font-regular
    font-size: 0.6em
  +bp768
    text-align: left
    span
      width: auto
      &::before
        display: none
      &::after
        left: 105%
    .tagline
      text-align: left

.shadow
  text-shadow: 4px 3px 5px rgba($black, 0.5)

.box-benefit
  &.box-testimonial
    .content-testimonial
      padding: 2em 1.5em 1em
      min-height: 300px
      &::after
        display: none

.title-secondary
  font-size: 22px
  +font-bold
  color: $gray
  margin: 1em 0

//Tabs
.wrapper-tabs
  padding: 58px 0 0 0
  +prefix(box-sizing, border-box)
  +bp768
    padding: 0
  +bp960
    width: 960px
    margin: 0 auto
    padding: 3em 0
  +bp1024
    width: 1024px

.accordion-tabs
  padding: 0
  margin: 0
  position: relative
  .tab-item
    list-style: none
    display: inline-block
    width: 100%
    padding: 18px
    +prefix(box-sizing, border-box)
    i
      position: absolute
      right: 0.1em
      top: 0.3em
      font-size: 2.5em
      color: $white
      cursor: pointer
      +prefix(transition, all .5s ease)
    a
      +font-bold
      font-size: 18px
      text-align: left
      color: $white
      line-height: 22px
    &.emeraldgreen
      background: $emeraldgreen
    &.blue
      background: $blue
    &.salmon
      background: $salmon
  &.active-first
    .tab-item
      &.emeraldgreen
        position: relative
        z-index: 3
      &.blue
        position: absolute
        top: 0
        left: 0
        z-index: 2
        opacity: 0
        +prefix(transition, all .5s ease)
      &.salmon
        position: absolute
        top: 0
        left: 0
        z-index: 1
        opacity: 0
        +prefix(transition, all .5s ease)
    &.dropdown
      .tab-item
        i
          +prefix(transform, rotate(180deg))
        &.emeraldgreen
        &.blue
          opacity: 1
          top: 58px
        &.salmon
          opacity: 1
          top: 116px
  &.active-second
    .tab-item
      &.emeraldgreen
        position: absolute
        top: 0
        left: 0
        z-index: 2
        opacity: 0
        +prefix(transition, all .5s ease)
      &.blue
        position: relative
        z-index: 3
      &.salmon
        position: absolute
        top: 0
        left: 0
        z-index: 1
        opacity: 0
        +prefix(transition, all .5s ease)
    &.dropdown
      .tab-item
        i
          +prefix(transform, rotate(180deg))
        &.emeraldgreen
          opacity: 1
          top: 58px
        &.blue
        &.salmon
          opacity: 1
          top: 116px
  &.active-third
    .tab-item
      &.emeraldgreen
        position: absolute
        top: 0
        left: 0
        z-index: 2
        opacity: 0
        +prefix(transition, all .5s ease)
      &.blue
        position: absolute
        top: 0
        left: 0
        z-index: 1
        opacity: 0
        +prefix(transition, all .5s ease)
      &.salmon
        position: relative
        z-index: 3
    &.dropdown
      .tab-item
        i
          +prefix(transform, rotate(180deg))
        &.emeraldgreen
          opacity: 1
          top: 58px
        &.blue
          opacity: 1
          top: 116px
        &.salmon
        
  +bp480
    .tab-item
      a
        font-size: 19px
  +bp960
    .tab-item
      width: 33.333333%
      text-align: center
      i
        display: none
        visibility: hidden
    &.dropdown
      .tab-item
        &.blue, &.salmon
          top: 0
    &.active-first
      .tab-item
        &.emeraldgreen
          &::before
            content: ''
            background: $emeraldgreen
            width: 100%
            height: 10px
            top: -10px
            left: 0
            position: absolute
          &::after
            content: ''
            background: $emeraldgreen
            width: 300%
            left: 0
            bottom: -20px
            height: 20px
            position: absolute
        &.blue
          background: #d2d2d2
          position: static
          opacity: 1
          top: 0
          &:hover
            background: $blue
        &.salmon
          background: #bbbbbb
          position: static
          opacity: 1
          top: 0
          &:hover
            background: $salmon
    &.active-second
      .tab-item
        &.blue
          &::before
            content: ''
            background: $blue
            width: 100%
            height: 10px
            top: -10px
            left: 0
            position: absolute
          &::after
            content: ''
            background: $blue
            width: 300%
            left: -100%
            bottom: -20px
            height: 20px
            position: absolute
        &.emeraldgreen
          background: #d2d2d2
          position: static
          opacity: 1
          top: 0
          &:hover
            background: $emeraldgreen
        &.salmon
          background: #d2d2d2
          position: static
          opacity: 1
          top: 0
          &:hover
            background: $salmon
    &.active-third
      .tab-item
        &.salmon
          &::before
            content: ''
            background: $salmon
            width: 100%
            height: 10px
            top: -10px
            left: 0
            position: absolute
          &::after
            content: ''
            background: $salmon
            width: 300%
            left: -200%
            bottom: -20px
            height: 20px
            position: absolute
        &.emeraldgreen
          background: #bbbbbb
          position: static
          opacity: 1
          top: 0
          &:hover
            background: $emeraldgreen
        &.blue
          background: #d2d2d2
          position: static
          opacity: 1
          top: 0
          &:hover
            background: $blue

//Content Tab
.tab-content
  padding: 1em
  overflow: hidden
  border-top: 1px solid darken($white, 8.5%)
  +bp960
    margin: 3em 0 0
.avatar
  text-align: center
  padding: 1em 0
  margin: 2em 0
  img
    width: 180px
    margin: 0 auto
  +bp960
    margin: 0

.wrapper-applications
  padding: 1em 3em
  .postulation-item
    margin-bottom: 4em
    .offer
      font-size: 16px
      +font-bold
      color: $gray
      span
        display: block
        +font-regular
        font-size: 15px
    .steps
      .item-step
        text-align: center
        +prefix(box-sizing, border-box)
        margin: 0.5em 0
        display: block
        background: $white
        padding: 1em
        border: 1px solid darken($white, 8.5%)
        font-size: 16px
        height: 70px
        +font-bold
        color: $gray
        +prefix(transform, skew(-20deg))
        box-shadow: 0px 3px 0px #d2d2d2
        span
          display: block
          +font-regular
          font-size: 15px
        &.first
        &.second
        &.third
        &.fourth
        &.active
          background: $blue-light
          color: $white
        .inner
          +prefix(transform, skew(20deg))
    .options
      .remove
        background: transparent
        text-align: center
        color: $gray
        font-size: 1em
        padding: 0
        margin: 0.5em auto
        display: block
        +font-regular
        i
          color: $salmon
          display: inline-block
          font-size: 32px
          border: 2px solid $salmon
          padding: 2px
          border-radius: 50%
          cursor: pointer  
        span
          display: block
          margin: 0.5em 0
        &:hover
          background: transparent
          color: $gray
  +bp768
    .postulation-item
      .offer
        text-align: center
        margin-bottom: 1em
      .steps
        .item-step
          display: inline-block
          vertical-align: top
          width: 23%
          margin: 0 1%
  +bp960
    padding: 1em 0
    .postulation-item
      margin-bottom: 3em
      .offer
        width: 18%
        display: inline-block
        vertical-align: top
        text-align: left
        margin-bottom: 0
        font-size: 19px
      .steps
        display: inline-block
        vertical-align: top
        width: 72%
        .item-step
          display: inline-block
          vertical-align: top
          width: 23%
          margin: 0 1%
          font-size: 19px
          padding: 0.8em 1em
      .options
        width: 10%
        display: inline-block
        vertical-align: top
        .remove
          margin: 0
          i
            font-size: 22px
            padding: 0

.add-button
  margin-top: 2em

.article
  margin-bottom: 2em
  .image
    margin-top: -50px
  .content
    padding: 1em 2em
  .quote
    +font-quotes
    font-size: 20px
    color: $blue-light
    border: 1px solid $gray-light
    padding: 0.5em
    width: 180px
    position: relative
    margin: 2.5em auto
    span
      display: block
      font-size: 33px
    &::before, &::after
      font-family: "Custom Icons"
      font-style: normal !important
      font-weight: normal !important
      font-variant: normal !important
      text-transform: none !important
      speak: none
      line-height: 1
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      display: block
      content: "\e013"
      position: absolute
      font-size: 60px
      color: #B2DEED
    &::before
      top: -40px
      left: 0
    &::after
      +prefix(transform, rotate(180deg))
      bottom: -40px
      right: 0
  +bp960
    position: relative
    .image
      width: 65%
      margin-top: 0
      float: right
      margin-left: 2em
    .content
      padding-top: 17em
      font-size: 17px
    .quote
      float: left
      margin-right: 2em

.article-big
  p
    font-size: 18px
  a
    color: $blue
  ul
    li
      font-size: 18px
      margin-bottom: 0.5em

.phrase
  +font-bold
  font-size: 23px
  line-height: 25px
  text-transform: uppercase
  text-align: center
  color: $blue-light
  +bp960
    .phrase
      width: 700px
      margin: 0 auto

.title-simple
  color: $blue
  font-size: 2em
  +font-bold

.subtitle-simple
  color: $gray
  font-size: 1.5em
  +font-bold

.uppercase
  text-transform: uppercase

.title-post
  position: relative
  z-index: 2
  margin: 0 1.5em
  .inner
    font-size: 28px
    +font-bold
    color: $blue-light
    text-transform: uppercase
    display: inline
    background: $white
    box-shadow: 10px 0 0 $white, -10px 0 0 $white
    line-height: 32px
    span
      color: $gray
      font-size: 23px
      &::before
        content: ''
        display: block
  &::before, &::after
    content: ''
    position: absolute
    border: 1px solid $blue-light
    left: 0
    width: 50px
  &::before
    top: 0
  &::after
    bottom: 0
  +bp960
    position: absolute
    top: 10%
    left: 10%
    width: 465px
    .inner
      font-size: 48px
      line-height: 50px
      span
        font-size: 40px
        line-height: 58px
    &::before, &::after
      border: 2px solid $blue-light

//Video
.embed-container
  position: relative
  padding-bottom: 50.25%
  height: 0
  overflow: hidden
  iframe
    position: absolute
    top: 0
    left: 0
    +bp320-bp960
      width: 100% !important
      height: 100% !important

//Share
.share
  margin-bottom: 1em
  span
    display: inline-block
    vertical-align: middle
    +font-bold
    font-size: 17px
    color: #afafaf
    margin-bottom: 10px
  ul
    margin: 0
    padding: 0 0 0 10px
    vertical-align: middle
    display: inline-block
    li
      list-style: none
      display: inline-block
      margin: 0 5px
      a
        width: 35px
        height: 35px
        display: block
        text-align: center
        padding: 10px 0
        font-size: 18px
        color: $white
        +prefix(box-sizing, border-box)
        &.icon-twitter
          background: $twitter-color
        &.icon-facebook
          background: $facebook-color
        &.icon-linkedin
          background: $linkedin-color
        &.icon-envelope
          background: $mail-color
  &.right
    text-align: right
  &.margin
    margin: 2em 0
  &.white
    margin: 1.5em 0 0
    span
      color: $white
    ul
      li
        margin: 0 3px
        a
          width: 30px
          height: 30px
          padding: 6px 0
          &.icon-twitter, &.icon-facebook, &.icon-linkedin, &.icon-envelope
            background: $white
  +bp480
    span
      margin-bottom: 0

.wrapper-offer
  padding-top: 2em
  p
    font-size: 17px
  ul
    li
      font-size: 17px
      line-height: 2em
  +bp960
    width: 70%
    margin: 0 auto

.center
  text-align: center
  
.right
  text-align: right

.border-top
  border-top: 1px solid darken($white, 8.5%)
  margin: 2em auto 0
    
.wrapper-message
  margin: 4em
  .box
    width: 100%
    padding: 2em 1em
    .title
      font-size: 36px
      text-align: right
      margin-bottom: 0
    p
      text-align: right
      font-size: 21px
  .title-alert
    display: inline-block
    position: relative
    z-index: 2
    margin: 1.5em
    .inner
      font-size: 50px
      +font-bold
      color: $blue-light
      text-transform: uppercase
      line-height: 52px
      span
        color: $gray
        font-size: 25px
        line-height: 27px
        display: block
    &::before, &::after
      content: ''
      position: absolute
      border: 2px solid $blue-light
      left: 0
      width: 100px
    &::before
      top: -10px
    &::after
      bottom: -10px

.group-results
  font-size: 20px
  margin: 0.5em 0
  .label
    +font-bold

.title-value
  font-size: 20px
  color: #666666
  strong
    +font-bold

.big
  font-size: 20px

.download-action
  display: block
  color: #666666
  margin-bottom: 0.5em
  i
    display: inline-block

.pagination
  ul
    margin: 0
    padding: 0
    text-align: right
    li
      display: inline-block
      +font-bold
      background: lighten($blue, 10%)
      padding: 10px
      font-size: 18px
      color: #fff
      margin: 1em 0.1em
      &.prev, &.next

      &.disabled
        background: #ccc
      &.active
        background: $blue

.error-404
  padding: 2em 0
  .title
    color: $blue
    text-transform: uppercase
    font-size: 4em
    margin: 0
  .subtitle
    text-transform: uppercase
    color: $gray-light
    font-size: 1.5em
    +font-bold
    text-align: center
    margin: 0
    padding: 0
  .phrase
    +font-regular
    color: $base-color
    text-transform: inherit
  +bp960
    padding: 8em 0
    .title
      font-size: 8em
    .subtitle
      font-size: 2em
    .phrase



