// ======================================================================================
// Tables
// ======================================================================================
table
  width: 100%
  font-size: 15px
  margin: 2em 0
  tr
    margin-bottom: 4em
    display: block
    th, td
      padding: 0.8em 0
    th
      display: none
      visibility: hidden
      text-align: left
      +font-bold
    td
      display: block
      padding: 0.8em 0 0.8em 50%
      position: relative
      &::before
        content: attr(data-title)
        +font-bold
        position: absolute
        padding: 0.8em 0
        top: 0
        left: 0
  +bp768
    font-size: 20px
    tr
      display: table-row
      th
        display: table-cell
        visibility: visible
      td
        display: table-cell
        padding: 0.8em 0
        &::before
          content: ''

.action-item
  display: inline-block
  vertical-align: top
  width: 25%
  i
    color: #666666
  &.edit
    font-size: 0.7em
    padding: 2px 0 0 0
  a
    display: inline-block
