// ======================================================================================
// Tags
// ======================================================================================
::selection
  background: rgba($white, 0.4)
  color: rgba($black, 0.5)

a
  color: $link-color
  text-decoration: none

body
  color: $base-color
  font-size: $base-font-size
  +font-regular

h1, h2, h3, h4, h5, h6
  font-weight: normal
  color: $title-color
  margin: 0.5em 0

img
  max-width: 100%
  height: auto
  display: block

hr
  background: #e5e5e5
  height: 2px
  border: 0

.padding
  padding: 0.5em 1em