---
title: Trabaja en Decathlon
body_class: page subitem
---
%section#wrapper-content.no-bg
  .container.heightauto
    .error-404
      %h1.title Error 404
      %h2.subtitle Página no encontrada
      %p.phrase Lo sentimos, la página que buscas no existe o no se puede encontrar.