---
title: Trabaja en Decathlon
body_class: admin
---
!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0 maximum-scale=1.0'}/
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || ""
    = stylesheet_link_tag "style"
    %link{:rel => "shortcut icon", :type => "image/png", :href => "images/favicon.png"}/
    %link{:rel => "icon", :type => "image/png", :href => "images/favicon.png"}/
    %link{:rel => "icon", :type => "image/x-icon", :href => "images/favicon.ico"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes =>"114x114", :href => "images/apple-touch-icon-114x114-precomposed.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes =>"72x72", :href => "images/apple-touch-icon-72x72-precomposed.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :href => "images/apple-touch-icon-57x57-precomposed.png"}/

  %body{class: current_page.data.body_class || 'page'}
    / Header
    = partial "layouts/header-admin"
    / Content
  %section#wrapper-content.gradient.with-featured-image
    .featured-image.inactive.small{:style => "background-image: url(images/slide-account.jpg);"}
      .content
        .caption.full
          %h1.text-above.border
            Administrador
    .container
      %form{:action => ""}
        .section-form
          %h2.sub-title 
            %span Filtrar datos
          .group-fields.row
            .col-md-5
              .fields.row
                .label.col-md-3
                  %label Nombre
                .field.col-md-9
                  %input{:type => "text"}/
            .col-md-7
              .fields.row
                .label.col-md-2
                  %label Apellidos
                .field.col-md-3
                  %input{:type => "text"}/
                .label.col-md-2
                  %label Edad de
                .field.select.col-md-2
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} 15
                      %option{:value => ""} 16
                      %option{:value => ""} 17
                      %option{:value => ""} 18
                      %option{:value => ""} 19
                      %option{:value => ""} 20
                      %option{:value => ""} 21
                      %option{:value => ""} 22
                      %option{:value => ""} 23
                      %option{:value => ""} 24
                      %option{:value => ""} 25
                      %option{:value => ""} 26
                      %option{:value => ""} 27
                      %option{:value => ""} 28
                      %option{:value => ""} 29
                      %option{:value => ""} 30
                      %option{:value => ""} 31
                      %option{:value => ""} 32
                      %option{:value => ""} 33
                      %option{:value => ""} 34
                      %option{:value => ""} 35
                      %option{:value => ""} 36
                      %option{:value => ""} 37
                      %option{:value => ""} 38
                      %option{:value => ""} 39
                      %option{:value => ""} 40
                      %option{:value => ""} 41
                      %option{:value => ""} 42
                      %option{:value => ""} 43
                      %option{:value => ""} 44
                      %option{:value => ""} 45
                      %option{:value => ""} 46
                      %option{:value => ""} 47
                      %option{:value => ""} 48
                      %option{:value => ""} 49
                      %option{:value => ""} 50
                      %option{:value => ""} 51
                      %option{:value => ""} 52
                      %option{:value => ""} 53
                      %option{:value => ""} 54
                      %option{:value => ""} 55
                      %option{:value => ""} 56
                      %option{:value => ""} 57
                      %option{:value => ""} 58
                      %option{:value => ""} 59
                      %option{:value => ""} 60
                      %option{:value => ""} 61
                      %option{:value => ""} 62
                      %option{:value => ""} 63
                      %option{:value => ""} 64
                      %option{:value => ""} 65
                      %option{:value => ""} 66
                      %option{:value => ""} 67
                      %option{:value => ""} 68
                      %option{:value => ""} 69
                      %option{:value => ""} 70
                      %option{:value => ""} 71
                      %option{:value => ""} 72
                      %option{:value => ""} 73
                      %option{:value => ""} 74
                      %option{:value => ""} 75
                      %option{:value => ""} 76
                      %option{:value => ""} 77
                      %option{:value => ""} 78
                      %option{:value => ""} 79
                      %option{:value => ""} 80
                      %option{:value => ""} 81
                      %option{:value => ""} 82
                      %option{:value => ""} 83
                      %option{:value => ""} 84
                      %option{:value => ""} 85
                      %option{:value => ""} 86
                      %option{:value => ""} 87
                      %option{:value => ""} 88
                      %option{:value => ""} 89
                      %option{:value => ""} 90
                      %option{:value => ""} 91
                      %option{:value => ""} 92
                      %option{:value => ""} 93
                      %option{:value => ""} 94
                      %option{:value => ""} 95
                      %option{:value => ""} 96
                      %option{:value => ""} 97
                      %option{:value => ""} 98
                      %option{:value => ""} 99
                .label.col-md-1
                  %span a
                .field.select.col-md-2
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} 15
                      %option{:value => ""} 16
                      %option{:value => ""} 17
                      %option{:value => ""} 18
                      %option{:value => ""} 19
                      %option{:value => ""} 20
                      %option{:value => ""} 21
                      %option{:value => ""} 22
                      %option{:value => ""} 23
                      %option{:value => ""} 24
                      %option{:value => ""} 25
                      %option{:value => ""} 26
                      %option{:value => ""} 27
                      %option{:value => ""} 28
                      %option{:value => ""} 29
                      %option{:value => ""} 30
                      %option{:value => ""} 31
                      %option{:value => ""} 32
                      %option{:value => ""} 33
                      %option{:value => ""} 34
                      %option{:value => ""} 35
                      %option{:value => ""} 36
                      %option{:value => ""} 37
                      %option{:value => ""} 38
                      %option{:value => ""} 39
                      %option{:value => ""} 40
                      %option{:value => ""} 41
                      %option{:value => ""} 42
                      %option{:value => ""} 43
                      %option{:value => ""} 44
                      %option{:value => ""} 45
                      %option{:value => ""} 46
                      %option{:value => ""} 47
                      %option{:value => ""} 48
                      %option{:value => ""} 49
                      %option{:value => ""} 50
                      %option{:value => ""} 51
                      %option{:value => ""} 52
                      %option{:value => ""} 53
                      %option{:value => ""} 54
                      %option{:value => ""} 55
                      %option{:value => ""} 56
                      %option{:value => ""} 57
                      %option{:value => ""} 58
                      %option{:value => ""} 59
                      %option{:value => ""} 60
                      %option{:value => ""} 61
                      %option{:value => ""} 62
                      %option{:value => ""} 63
                      %option{:value => ""} 64
                      %option{:value => ""} 65
                      %option{:value => ""} 66
                      %option{:value => ""} 67
                      %option{:value => ""} 68
                      %option{:value => ""} 69
                      %option{:value => ""} 70
                      %option{:value => ""} 71
                      %option{:value => ""} 72
                      %option{:value => ""} 73
                      %option{:value => ""} 74
                      %option{:value => ""} 75
                      %option{:value => ""} 76
                      %option{:value => ""} 77
                      %option{:value => ""} 78
                      %option{:value => ""} 79
                      %option{:value => ""} 80
                      %option{:value => ""} 81
                      %option{:value => ""} 82
                      %option{:value => ""} 83
                      %option{:value => ""} 84
                      %option{:value => ""} 85
                      %option{:value => ""} 86
                      %option{:value => ""} 87
                      %option{:value => ""} 88
                      %option{:value => ""} 89
                      %option{:value => ""} 90
                      %option{:value => ""} 91
                      %option{:value => ""} 92
                      %option{:value => ""} 93
                      %option{:value => ""} 94
                      %option{:value => ""} 95
                      %option{:value => ""} 96
                      %option{:value => ""} 97
                      %option{:value => ""} 98
                      %option{:value => ""} 99

          .group-fields.row
            .col-md-3
              .fields.row
                .label.col-md-3
                  %label Estado
                .field.select.col-md-9
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Soltero
                      %option{:value => ""} Casado
            .col-md-9
              .fields.row
                .col-md-5
                  .fields.row
                    .label.col-md-4
                      %label Cambio de residencia
                    .field.radio.col-md-4.col-xs-6
                      %label{:for => "siresidencia"}
                      %input.radio-question{:name => "residencia", :id => "siresidencia", :type => "radio", :value => "si"}
                      %span SI
                    .field.radio.col-md-4.col-xs-6
                      %label{:for => "noresidencia"}
                      %input.radio-question{:name => "residencia", :id => "noresidencia", :type => "radio", :value => "no"}
                      %span NO
                .col-md-7
                  .fields.row.disabled
                    .label.col-md-3
                      %label ¿A donde?
                    .field.radio.col-md-4.col-sm-6.col-xs-12
                      %label{:for => "nacional"}
                      %input.radio-option{:name => "adonde", :id => "nacional", :type => "radio", :disabled => "disabled"}
                      %span Nacional
                    .field.radio.col-md-5.col-sm-6.col-xs-12
                      %label{:for => "internacional"}
                      %input.radio-option{:name => "adonde", :id => "internacional", :type => "radio", :disabled => "disabled"}
                      %span Internacional

          .group-fields.row
            .col-md-6
              .fields.row
                .label.col-md-4
                  %label Nivel de estudios
                .select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Seleccioa nivel de estudios
                      %option{:value => ""} Nivel
                      %option{:value => ""} Nivel
                      %option{:value => ""} Nivel
                      %option{:value => ""} Nivel
            .col-md-6
              .fields.row
                .label.col-md-4
                  %label Área de estudios
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Seleccioa un área
                      %option{:value => ""} Area
                      %option{:value => ""} Area
                      %option{:value => ""} Area
                      %option{:value => ""} Area

        .section-form
          %h2.sub-title 
            %span Deportes

          .group-fields.row
            .col-md-6
              .fields.row
                .label.col-md-4
                  %label Deporte favorito
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Seleccioa uno
                      %option{:value => ""} Deporte
                      %option{:value => ""} Deporte
                      %option{:value => ""} Deporte
                      %option{:value => ""} Deporte
            .col-md-6
              .fields.row
                .label.col-md-4
                  %label Frecuencia
                .select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Seleccioa una
                      %option{:value => ""} Frecuencia
                      %option{:value => ""} Frecuencia
                      %option{:value => ""} Frecuencia
                      %option{:value => ""} Frecuencia

        .section-form
          %h2.sub-title 
            %span Puesto de trabajo

          .group-fields.row
            .col-md-6
              .fields.row
                .label.col-md-4
                  %label Cargo
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Seleccioa un cargo
                      %option{:value => ""} Cargo
                      %option{:value => ""} Cargo
                      %option{:value => ""} Cargo
                      %option{:value => ""} Cargo
            .col-md-6
              .fields.row
                .label.col-md-4
                  %label Tienda
                .select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Seleccioa una tienda
                      %option{:value => ""} Tienda
                      %option{:value => ""} Tienda
                      %option{:value => ""} Tienda
                      %option{:value => ""} Tienda

          .group-fields.row
            .col-md-5
              .fields.row
                .label.col-md-3
                  %label.bold Tipo de jornada
                .field.radio.col-md-5.col-xs-6
                  %label{:for => "completa"}
                  %input.radio-question{:name => "jornada", :id => "completa", :type => "radio", :value => "completa"}
                  %span Completa
                .field.radio.col-md-4.col-xs-6
                  %label{:for => "media"}
                  %input.radio-question{:name => "jornada", :id => "media", :type => "radio", :value => "media"}
                  %span Media
            .col-md-7
              .fields.row.disabled
                .label.col-md-1
                  %label.bold Turno
                .field.radio.col-md-3.col-xs-12
                  %label{:for => "matutino"}
                  %input.radio-option{:name => "turno", :id => "matutino", :type => "radio", :disabled => "disabled"}
                  %span Matutino
                .field.radio.col-md-4.col-xs-12
                  %label{:for => "vespertino"}
                  %input.radio-option{:name => "turno", :id => "vespertino", :type => "radio", :disabled => "disabled"}
                  %span Vespertino
                .field.radio.col-md-4.col-xs-12
                  %label{:for => "indiferente"}
                  %input.radio-option{:name => "turno", :id => "indiferente", :type => "radio", :disabled => "disabled"}
                  %span Indiferente
        %hr/
        .section-form
          .group-fields.row
            .col-md-12
              .fields.row
                .field.checkbox.col-md-2
                  %label{:for => "leido"}
                  %input{:name => "estado", :id => "leido", :type => "checkbox"}
                  %span Leídos
                .field.checkbox.col-md-2
                  %label{:for => "no-leidos"}
                  %input{:name => "estado", :id => "no-leidos", :type => "checkbox"}
                  %span No leídos
                .field.checkbox.col-md-2
                  %label{:for => "contactado"}
                  %input{:name => "estado", :id => "contactado", :type => "checkbox"}
                  %span Contactado
                .field.checkbox.col-md-2
                  %label{:for => "descartado"}
                  %input{:name => "estado", :id => "descartado", :type => "checkbox"}
                  %span Descartado
                .field.checkbox.col-md-2
                  %label{:for => "interesante"}
                  %input{:name => "estado", :id => "interesante", :type => "checkbox"}
                  %span Interesante
                .field.checkbox.col-md-2
                  %label{:for => "todos"}
                  %input{:name => "estado", :id => "todos", :type => "checkbox"}
                  %span Todos

        .btns.row
          .col-sm-offset-8.col-sm-2.right
            %a.button{:href => "#"} Borrar
          .col-sm-2.right
            %a.button{:href => "#"} Buscar

          %table
            %thead
              %tr
                %th &nbsp;
                %th Nombre / Apellido
                %th Edad
                %th Estudios
                %th Tienda
                %th Deporte
                %th Frecuencia
                %th Estatus
            %tbody
              %tr
                %td
                  .action-item.interesting
                    %a{:href => "", :title => "Interesante"}
                      %i.icon-star
                  .action-item.download
                    %a{:href => "", :title => "Descargar"}
                      %i.icon-download
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Estatus"} 
                  .action-item.unread
                    %a{:href => "", :title => "No Leido"}
                      %i.icon-mail
                  .action-item.read
                    %a{:href => "", :title => "Leido"}
                      %i.icon-mail-read
                  .action-item.contacted
                    %a{:href => "", :title => "Contactado"}
                      %i.icon-phone-contact
                  .action-item.state
                    %a{:href => "", :title => "Aprobado"}
                      %i.icon-check-circle
              %tr
                %td
                  .action-item.interesting
                    %a{:href => "", :title => "Interesante"}
                      %i.icon-star
                  .action-item.download
                    %a{:href => "", :title => "Descargar"}
                      %i.icon-download
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Estatus"} 
                  .action-item.unread
                    %a{:href => "", :title => "No Leido"}
                      %i.icon-mail
                  .action-item.read
                    %a{:href => "", :title => "Leido"}
                      %i.icon-mail-read
                  .action-item.contacted
                    %a{:href => "", :title => "Contactado"}
                      %i.icon-phone-contact
                  .action-item.state
                    %a{:href => "", :title => "Descartado"}
                      %i.icon-cancel
              %tr
                %td
                  .action-item.interesting
                    %a{:href => "", :title => "Interesante"}
                      %i.icon-star
                  .action-item.download
                    %a{:href => "", :title => "Descargar"}
                      %i.icon-download
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Estatus"} 
                  .action-item.unread
                    %a{:href => "", :title => "No Leido"}
                      %i.icon-mail
                  .action-item.read
                    %a{:href => "", :title => "Leido"}
                      %i.icon-mail-read
                  .action-item.contacted
                    %a{:href => "", :title => "Contactado"}
                      %i.icon-phone-contact
                  .action-item.state
                    %a{:href => "", :title => "Aprobado"}
                      %i.icon-check-circle
              %tr
                %td
                  .action-item.interesting
                    %a{:href => "", :title => "Interesante"}
                      %i.icon-star
                  .action-item.download
                    %a{:href => "", :title => "Descargar"}
                      %i.icon-download
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Estatus"} 
                  .action-item.unread
                    %a{:href => "", :title => "No Leido"}
                      %i.icon-mail
                  .action-item.read
                    %a{:href => "", :title => "Leido"}
                      %i.icon-mail-read
                  .action-item.contacted
                    %a{:href => "", :title => "Contactado"}
                      %i.icon-phone-contact
                  .action-item.state
                    %a{:href => "", :title => "Descartado"}
                      %i.icon-cancel
              %tr
                %td
                  .action-item.interesting
                    %a{:href => "", :title => "Interesante"}
                      %i.icon-star
                  .action-item.download
                    %a{:href => "", :title => "Descargar"}
                      %i.icon-download
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Estatus"} 
                  .action-item.unread
                    %a{:href => "", :title => "No Leido"}
                      %i.icon-mail
                  .action-item.read
                    %a{:href => "", :title => "Leido"}
                      %i.icon-mail-read
                  .action-item.contacted
                    %a{:href => "", :title => "Contactado"}
                      %i.icon-phone-contact
                  .action-item.state
                    %a{:href => "", :title => "Aprobado"}
                      %i.icon-check-circle
              %tr
                %td
                  .action-item.interesting
                    %a{:href => "", :title => "Interesante"}
                      %i.icon-star
                  .action-item.download
                    %a{:href => "", :title => "Descargar"}
                      %i.icon-download
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Estatus"} 
                  .action-item.unread
                    %a{:href => "", :title => "No Leido"}
                      %i.icon-mail
                  .action-item.read
                    %a{:href => "", :title => "Leido"}
                      %i.icon-mail-read
                  .action-item.contacted
                    %a{:href => "", :title => "Contactado"}
                      %i.icon-phone-contact
                  .action-item.state
                    %a{:href => "", :title => "Descartado"}
                      %i.icon-cancel
              %tr
                %td
                  .action-item.interesting
                    %a{:href => "", :title => "Interesante"}
                      %i.icon-star
                  .action-item.download
                    %a{:href => "", :title => "Descargar"}
                      %i.icon-download
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Estatus"} 
                  .action-item.unread
                    %a{:href => "", :title => "No Leido"}
                      %i.icon-mail
                  .action-item.read
                    %a{:href => "", :title => "Leido"}
                      %i.icon-mail-read
                  .action-item.contacted
                    %a{:href => "", :title => "Contactado"}
                      %i.icon-phone-contact
                  .action-item.state
                    %a{:href => "", :title => "Aprobado"}
                      %i.icon-check-circle
              %tr
                %td
                  .action-item.interesting
                    %a{:href => "", :title => "Interesante"}
                      %i.icon-star
                  .action-item.download
                    %a{:href => "", :title => "Descargar"}
                      %i.icon-download
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Estatus"} 
                  .action-item.unread
                    %a{:href => "", :title => "No Leido"}
                      %i.icon-mail
                  .action-item.read
                    %a{:href => "", :title => "Leido"}
                      %i.icon-mail-read
                  .action-item.contacted
                    %a{:href => "", :title => "Contactado"}
                      %i.icon-phone-contact
                  .action-item.state
                    %a{:href => "", :title => "Descartado"}
                      %i.icon-cancel
              %tr
                %td
                  .action-item.interesting
                    %a{:href => "", :title => "Interesante"}
                      %i.icon-star
                  .action-item.download
                    %a{:href => "", :title => "Descargar"}
                      %i.icon-download
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Estatus"} 
                  .action-item.unread
                    %a{:href => "", :title => "No Leido"}
                      %i.icon-mail
                  .action-item.read
                    %a{:href => "", :title => "Leido"}
                      %i.icon-mail-read
                  .action-item.contacted
                    %a{:href => "", :title => "Contactado"}
                      %i.icon-phone-contact
                  .action-item.state
                    %a{:href => "", :title => "Aprobado"}
                      %i.icon-check-circle
              %tr
                %td
                  .action-item.interesting
                    %a{:href => "", :title => "Interesante"}
                      %i.icon-star
                  .action-item.download
                    %a{:href => "", :title => "Descargar"}
                      %i.icon-download
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Estatus"} 
                  .action-item.unread
                    %a{:href => "", :title => "No Leido"}
                      %i.icon-mail
                  .action-item.read
                    %a{:href => "", :title => "Leido"}
                      %i.icon-mail-read
                  .action-item.contacted
                    %a{:href => "", :title => "Contactado"}
                      %i.icon-phone-contact
                  .action-item.state
                    %a{:href => "", :title => "Descartado"}
                      %i.icon-cancel                

          .pagination
            %ul
              %li.prev.disabled
                %span <
              %li.active
                %span 1
              %li
                %span 2
              %li
                %span 3
              %li
                %span 4
              %li.next.disabled
                %span >


    / Footer
    = partial "layouts/footer-admin"

  = javascript_include_tag "script"
  %script
    document.body.innerHTML = document.body.innerHTML.replace(/>\s+</g, '><');