---
title: Trabaja en Decathlon
body_class: account
---
%section#wrapper-content.with-featured-image
  .featured-image.inactive.small{:style => "background-image: url(images/slide-account.jpg);"}
    .content
      .caption.full
        %h1.text-above.border
          Gerente
  .container
    .wrapper-message
      .row
        .col-sm-4
          .box.box-simple.bg-salmon
            .title Busca mas ofertas
            %p Ve todas las ofertas de empleo que tenemos aquí para ti 
        .col-sm-8
          .title-alert
            .inner
              Gracias por aplicar para el puesto de gerente 
              %span
                Nuestro equipo de RH revisará en breve tu perfil y se comunicará contigo si cumples todos los requisitos
