---
title: Trabaja en Decathlon
body_class: page subitem
---
%section#wrapper-content.no-bg
  .container.article-big
    %h1.title-simple.uppercase Aviso de privacidad
    %h2.subtitle-simple Información de la empresa
    %p 
      ARTÍCULOS DEPORTIVOS DECATHLON S.A. de C.V., con domicilio en Francisco Fagoaga 80, Col. San Miguel Chapultepec, C.P. 11850, México, Distrito Federal y correo electrónico 
      %a{:href => "mailto:contacto.mexico@decathlon.com"} contacto.mexico@decathlon.com.
    %p 
      En caso de dudas o comentarios con relación al Aviso de Privacidad, o a su derecho a la privacidad y protección de datos, por favor póngase en contacto a través del correo electrónico 
      %a{:href => "mailto:privacidad.mexico@decathlon.com"} privacidad.mexico@decathlon.com.
    %h2.subtitle-simple Preambulo
    %p 
      El presente Aviso de Privacidad explica la forma en la cual ARTÍCULOS DEPORTIVOS DECATHLON S.A. de C.V. (“Decathlon” o “nosotros”) recaba, utiliza y, en general, trata los datos personales de sus clientes y usuarios (individualmente “usted”, el “cliente”, o el “usuario”) del sitio web 
      %a{:href => "http://www.decathlon.com.mx/", :target => "_blank"}www.decathlon.com.mx 
      (el “Sitio), de acuerdo a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y demás regulaciones aplicables (la “Ley”).
    %p Por favor antes de usar el Sitio y antes de proporcionar cualquier dato personal u otra información, lea con detenimiento este Aviso de Privacidad y las Condiciones Generales de la Venta del Sitio, ya que estos documentos rigen su uso del Sitio y las compras que realiza a través del mismo.
    %h2.subtitle-simple Datos personales que recabamos
    %p El usuario puede navegar por el Sitio anónimamente. En ocasiones esto significará que ciertas funciones del Sitio no podrán utilizarse o no estarán disponibles. Sólo recabaremos datos personales si el usuario los proporciona voluntariamente de diversas maneras, incluyendo, cuando se registra a través del Sitio, realiza un pedido, se suscribe a nuestras notas informativas (newsletter), responde una encuesta, llena un formulario y al utilizar otras funciones o recursos disponibles en el Sitio. Los datos personales que Decathlon puede recabar y tratar de usted, pertenecerán a las siguientes categorías, dependiendo de la actividad que realice en el Sitio:
    %ul
      %li Datos de facturación. Número de Registro Federal de Contribuyentes (R.F.C.), domicilio, nombre del contribuyente o comprador.
      %li Datos de identificación y contacto. Nombre completo, domicilio completo, correo electrónico, firma, teléfono particular, celular, imagen (si visita nuestras tiendas), dirección de Protocolo de Internet (de ser el caso).
      %li Datos financieros o económicos. Número de tarjeta de crédito o de débito, nombre del cuentahabiente.
      %li Datos sobre sus preferencias. Si decide contar con una Tarjeta de Fidelidad, se guardarán registro de sus compras y se analizarán sus preferencias con relación a nuestros productos.
    %h2.subtitle-simple Otra información que recabamos
    %p Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Si continúa navegando en el Sitio, consideramos que acepta su uso.
    %p
      %strong Qué son las cookies y para que se utilizan
    %p Una cookie es un pequeño archivo que contiene una pequeña información que es enviada por un sitio web y almacenada en el navegador del usuario. De esta manera, el sitio web puede recoger ciertos datos e información sobre la navegación del usuario para así poder optimizar la navegación y ofrecerle servicios complementarios, tales como publicidad, que complementan la experiencia de navegación. Decathlon utiliza cookies cuando un usuario navega por su página web. Dichas cookies se asocian a un usuario anónimo y su computadora. Las cookies permiten así a Decathlon reconocer a los usuarios que accedan a su página web, con el único fin de facilitar a éstos su navegación. En cualquier caso, el usuario puede configurar su navegador para ser avisado de la recepción de cookies e impedir así, su instalación en su disco duro (sigua leyendo para saber cómo). Entre la información que almacenan estas cookies se encuentran: datos de sesión (usuario y contraseña), datos relativos a la cesta de la compra (en sitios de comercio electrónico) o datos referentes a la navegación intrínseca en un sitio web (páginas visitadas, opciones seleccionadas, etc.). Las cookies utilizan la información que guardan para personalizar la navegación del usuario, por ejemplo, para recordar su usuario y contraseña automáticamente, obteniendo de esta manera una navegación más rápida y fluida.
    %p
      %strong Tipos de cookies
    %p
      Podemos distinguir entre dos tipos de cookies en función de su permanencia: cookies de sesión o permanentes. Las cookies de sesión caducan una vez se cierra el explorador, sin embargo, las cookies permanentes se quedan almacenadas el tiempo definido por el sitio web (en caso de la web
      %a{:href => "http://www.decathlon.com.mx/", :target => "_blank"}www.decathlon.com.mx 
      , hasta un periodo máximo de 45 días), o bien cuando se borran manualmente en el navegador. En función del objetivo, también podemos hablar de:
      %ul
        %li Cookies de rendimiento, registran las opciones referentes a ajustes multimedia o la información sobre los productos en tu cesta de la compra.

        %li Cookies de geo-localización, obtienen la localización geográfica del ordenador del usuario de forma totalmente anónima para adaptar la navegación a cada zona.

        %li Cookies de análisis, analizan la navegación, páginas visitadas, duración de la visita, clics, etc.

        %li Cookies de publicidad y publicidad de terceros, utilizadas por proveedores Ad-servers para mostrar anuncios comerciales relacionados con tu navegación.
    %p Cada proveedor de estos servicios, tiene su propio aviso de privacidad, el cual le alentamos lea con detenimiento. En la actualidad, www.decathlon.com.mx utiliza las plataformas de Facebook y Google+. De clic en cada proveedor para conocer su aviso de privacidad.
    %p
      %strong Qué ocurre si aceptas las cookies
    %p Si tienes las cookies activadas en tu navegador utilizaremos esa información para mejorar tu experiencia de navegación a través de nuestro Sitio. Por ejemplo, el sistema recordará por sí solo tu usuario y contraseña, para evitar teclearlo cada vez que entres. También nos servirá para mostrarte anuncios y publicidad complementaria a tu navegación.
    %p
      %strong Qué ocurre si desinstalas o borras las cookies
    %p Algunas funcionalidades de los servicios quedarán deshabilitadas como, por ejemplo, permanecer identificado o mantener las compras en el “carrito de la compra”. Tampoco se te mostrarán, una vez que abandones nuestra página, anuncios relacionados con los productos que visitaste.
    %p
      %strong Cómo desinstalar las cookies o rechazarlas en tu navegación
    %ul
      %li Desactivación o eliminación de cookies pertenecientes a Google Analytics.
    %p 
      Puede desinstalar o desactivar las cookies de Google Analytics mediante la configuración de su navegador o instalando el complemento de inhabilitación de Google Analytics que evita que se recabe información sobre visitas a otras páginas web disponible en la siguiente página: 
      %a{:href => "https://tools.google.com/dlpage/gaoptout?hl=es", :target => "_blank"} https://tools.google.com/dlpage/gaoptout?hl=es
    %ul
      %li Desactivación de cookies propias.
    %p Por favor, lea atentamente la sección de ayuda de su navegador para conocer más acerca de cómo activar el “modo privado” o desbloquear determinadas cookies.
    %p
      %strong Redes sociales
    %p Utilizamos botones sociales para que el usuario pueda compartir páginas web o seleccionarlas como favoritas. Se trata de botones para sitios web de redes sociales externas. Estos sitios pueden registrar información sobre sus actividades en Internet, incluyendo nuestra web. Puede revisar las condiciones de uso y el aviso de privacidad de estos sitios web para saber exactamente cómo utilizan la información y para averiguar cómo puede eliminarse o borrarse dicha información. Decathlon no es responsable del tratamiento de datos personales que las redes sociales lleven a cabo. Por otra parte, Decathlon cuenta con un perfil en distintas redes sociales, a través de los cuales el usuario puede compartirnos cierta información que puede incluir datos personales. El tratamiento que se da a esta información se encuentra regido por los Términos y Condiciones y por el Aviso de Privacidad de cada una de las redes sociales, por lo que le invitamos a leer con detenimiento tales documentos antes de proporcionar datos personales por estos medios. Decathlon no se hace responsable por el uso o divulgación que se haga de la información que comparta en nuestro perfil dentro de redes sociales. Sin embargo, si nos proporciona datos personales de contacto a fin de que le enviemos información sobre nuestros productos o servicios, así como invitaciones a eventos, el tratamiento que se dé a dichos datos personales estará regido por este Aviso de Privacidad.
    %p
      %strong Servicios web externos
    %p En ocasiones utilizamos servicios web externos para mostrar contenidos dentro de nuestra página web. Por ejemplo, para mostrar imágenes o vídeos, o para realizar encuestas. Al igual que los botones sociales, no podemos evitar que estos sitios, o dominios externos, recaben información sobre el uso que se hace de estos contenidos incrustados. Por esto, Decathlon no se hace responsable del uso que los sitios externos den a la información que recaban.
    %p
      %strong Comunicaciones a través del correo electrónico
    %p También podemos emplear tecnologías de seguimiento para determinar si se han leído ciertos mensajes de correo electrónico que hemos enviado, si ha hecho clic en los mismos, o si se han reenviado, gracias a las cuales podemos hacer que nuestras comunicaciones sean más útiles e interesantes. Si no desea que confirmemos que ha abierto nuestros mensajes, ha hecho clic en los mismos o los ha reenviado, es necesario darse de baja, ya que nosotros no podemos enviar estos correos con la función de seguimiento desactivada. Los usuarios registrados pueden actualizar sus preferencias de comunicación en cualquier momento poniéndose en contacto con nosotros, o pueden darse de baja siguiendo las instrucciones incluidas en nuestras comunicaciones por correo electrónico.
    %p Decathlon desea poner de manifiesto que no asume ninguna responsabilidad por problemas legales o técnicos causados por el incumplimiento por parte del usuario de las recomendaciones incluidas. Esta comunicación se realiza para el conocimiento y uso del usuario, por consiguiente, no debe utilizarse para ninguna otra finalidad.
    %p Decathlon no se hace responsable del contenido y veracidad de los avisos de privacidad de los terceros mencionados en este apartado.
    %h2.subtitle-simple Cómo utilizamos sus datos personales
    %p Los datos personales que proporcione se utilizarán para llevar a cabo las siguientes finalidades necesarias:
    %ul
      %li Crear una base de datos de los compradores y para control interno.
      %li Para responder a sus dudas, sugerencias o comentarios.
      %li Para proporcionarle la información que solicite.
      %li Para procesar y dar seguimiento a sus compras.
      %li Cumplir con las obligaciones que se generen con motivo de la relación jurídica entre usted y Decathlon.
      %li Programar la entrega de su compra, según lo especificado en los Condiciones Generales de la Venta del Sitio.
      %li Efectuar cobros.
      %li Cumplir con nuestras obligaciones legales y con requerimientos de autoridad competente.
      %li Salvaguardar la seguridad y privacidad de nuestros clientes o usuarios y proveedores, así como en nuestras tiendas.
      %li Proteger la propiedad y defender los derechos de Decathlon, de otras empresas del grupo, de proveedores y de terceros con los que mantengamos una relación jurídica.
      %li En el evento de una fusión o adquisición de Decathlon, para que el comprador o adquirente evalúe el estado de la Empresa.
      %li Enviarle mensajes o comunicaciones para informarle el estatus de su orden.
    %p Asimismo, si no manifiesta oposición en los términos señalados en el apartado “Cuáles son sus derechos y cómo ejercerlos”, Decathlon podrá utilizar sus datos personales de identificación y de contacto para llevar a cabo las siguientes finalidades voluntarias:
    %ul
      %li Evaluar el Sitio y su efectividad, las preferencias los usuarios con respecto a los productos que se ofrecen, realizar encuestas y para conocer tendencias.
      %li Contactarlo para invitarlo a eventos de Decathlon.
      %li Enviarle comunicaciones con ofertas, promociones o descuentos de los productos que ofrece Decathlon.
      %li Para personalizar y mejorar su experiencia en el Sitio.
      %li Si nos contacta por redes sociales, podremos utilizar sus datos de contacto para el envío de comunicaciones de mercadeo o publicitarias, así como para invitarlo a eventos de Decathlon.
      %li Si decides tramitar una Tarjeta de Fidelidad de Decathlon, los datos personales que proporciones con relación a tu registro se utilizarán para cumplir los fines de dicha tarjeta, lo cual incluye el envío de mensajes publicitarios.
    %h2.subtitle-simple A quién comunicamos sus datos personales
    %p Decathlon no vende, cede o renta los datos personales del usuario o cliente. Podremos compartir información estadística demográfica que no identifica a alguna persona a nuestros socios de negocios, afiliadas y agencias publicitarias para evaluar el Sitio, las preferencias del mercado, medir la efectividad de la publicidad y para conocer tendencias. No obstante lo anterior, en otras situaciones podremos compartir ciertos datos personales con terceros, con el propósito de llevar a cabo las finalidades antes mencionadas, según se muestra a continuación.
    %table
      %tbody
        %tr
          %th RECEPTOR DE DATOS PERSONALES
          %th FINALIDAD
        %tr
          %th Transportista
          %td Para realizar la entrega de su compra, de conformidad con las Condiciones Generales de la Venta.
        %tr
          %th Compradores o adquirentes
          %td De ser el caso, para que éstos evalúen el estado de Decathlon, con miras a decidir si comprarla o adquirirla. Para esta transferencia de datos requerimos su consentimiento, por lo que si no se opone en los términos que se señalan en el apartado “Cúales son sus derechos y cómo ejercerlos”.
        %tr
          %th Autoridades competentes
          %td Para cumplimentar requerimientos legales o solicitudes de autoridades, cuando la transferencia sea legalmente exigida para salvaguardar un interés público o para la procuración o administración de justicia; o bien, cuando sea necesaria para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial.
        %tr
          %th A otras empresas del grupo Decathlon a nivel internacional
          %td Para evaluar todo lo relacionado con la distribución de productos y la aceptación de éstos en el mercado Mexicano, así como para cumplir las finalidades necesarias y voluntarias antes mencionadas.

    %h2.subtitle-simple Privacidad de menores de edad
    %p Decathlon está comprometida con la privacidad de menores de edad; por esto, no trata intencionalmente datos personales de menores de 18 (dieciocho) años de edad que no cuenten con el consentimiento apropiado de sus padres o tutores. Si usted es padre o tutor de un menor y sabe que él nos ha proporcionado datos personales sin su consentimiento, podrá solicitar que los mismos sean cancelados, siguiendo el procedimiento de ejercicio de derechos que se señala en el apartado “Cuáles son sus derechos y cómo ejercerlos” de este Aviso de Privacidad.
    %h2.subtitle-simple Cómo protegemos sus datos personales
    %p Decathlon ha adoptado prácticas y medidas de seguridad encaminadas a proteger sus datos personales de acceso, alteración, comunicación o destrucción no autorizados. El intercambio de datos a través del Sitio y el usuario se lleva a cabo por medio de un canal seguro de comunicación con protocolo “SSL” (Secure Socket Layer), y son encriptados y protegidos con firmas digitales.
    %h2.subtitle-simple Cuáles son sus derechos y cómo ejercerlos
    %p Como titular de datos personales, tiene derecho a que se le proporcione Acceso a sus datos personales; a Rectificarlos o actualizarlos; a Cancelarlos, con lo cual los daríamos de baja de nuestras bases de datos, y a Oponerse al tratamiento de los mismos para finalidades determinadas (derechos ARCO). Asimismo, usted tiene derecho a limitar el uso y divulgación de sus datos personales, o bien, cuando sea posible, a revocar el consentimiento que haya otorgado para su tratamiento. Si ha otorgado su consentimiento para el tratamiento pero desea limitar el uso y divulgación de sus datos para las finalidades voluntarias señaladas, podrá hacerlo de diferentes maneras. Si recibe comunicaciones por correo electrónico, puede dar clic en el enlace habilitado para “dejar de recibir” y seguir el procedimiento que en ese momento se le indicará. Al hacer esto su dirección de correo electrónico será eliminada de la base de datos de envío de comunicaciones publicitarias o promocionales. Además de esto, usted podrá ejercer este derecho siguiendo el procedimiento que se señala más adelante en este apartado. Si desea revocar su consentimiento, deberá seguirse el procedimiento que se describe en los siguientes párrafos, teniendo en cuenta que no siempre es posible hacer efectivo este derecho; o bien, que de hacerse efectivo el derecho la relación jurídica entre usted y Decathlon tendría que darse por terminada.
    %h2.subtitle-simple Procedimiento para el ejercicio de derechos
    %p 
      Para el ejercicio de cualquiera de sus derechos, deberá presentar o enviar una solicitud al Oficial de Protección de Datos de Decathlon, por medio del correo electrónico 
      %a{:href => "mailto: privacidad.mexico@decathlon.com"}privacidad.mexico@decathlon.com, 
      o físicamente en la dirección señalada al inicio del presente documento. La solicitud deberá contener y acompañarse, al menos, de la siguiente información y documentación:
    %ul
      %li Su nombre completo, domicilio y correo electrónico para poder comunicarle la respuesta a su solicitud;
      %li Los documentos que acrediten su identidad (copia de credencial de elector, pasaporte o cualquier otra identificación oficial) o en su caso, los documentos que acrediten su representación legal (poder y copia de identificación oficial del representante);
      %li Una descripción clara y precisa de los datos personales respecto de los cuales busca ejercer alguno de los derechos;
      %li Cualquier documento o información que facilite la localización de sus datos personales;
      %li En caso de solicitar que sus datos personales sean corregidos o actualizados deberá de indicar también las modificaciones a realizarse y aportar la documentación que sustente su petición (donde los datos estén correctos);
      %li En caso de que una persona menor de 18 (dieciocho) años nos haya proporcionado datos personales que usted como padre o tutor desee sean cancelados, deberá además incluir el nombre del menor e información que acredite que usted es el padre o tutor; y
      %li El lugar o forma en que la Empresa podrá cotejar la copia de su identificación oficial con el original.
    %p 
      Decathlon dará respuesta a su solicitud mediante un correo electrónico o enviará la respuesta a su domicilio, de ser posible y a elección de Decathlon. Si su solicitud está incompleta se le podrá requerir que aporte la información faltante en un plazo de cinco días hábiles y, de no completar su solicitud, Decathlon la tendrá por no presentada. Si su solicitud está completa, se le contestará si la misma es procedente o no y las razones de la decisión, en un plazo máximo de 20 (veinte) días hábiles contados a partir del día en que se haya recibido su solicitud completa. De ser procedente su solicitud, usted tendrá un máximo de 15 (quince) días hábiles para hacerla efectiva de acuerdo a la información que se le proporcione en la respuesta. El derecho de acceso a sus datos personales se dará por cumplido cuando Decathlon le entregue/envíe copia de éstos en formato electrónico o en copias simples, previa acreditación de su identidad. Para más información con respecto al ejercicio de sus derechos, por favor envíenos un correo a 
      %a{:href => "mailto: privacidad.mexico@decathlon.com"}privacidad.mexico@decathlon.com
    %h2.subtitle-simple Cambios a este aviso de privacidad
    %p Decathlon podrá efectuar en cualquier momento modificaciones o actualizaciones a este Aviso de Privacidad según juzgue conveniente. Cuando hagamos modificaciones cambiaremos la fecha de la última actualización que aparece al inicio de este documento. Le alentamos a que revise con frecuencia esta página para que se mantenga actualizado con relación a cualquier cambio que pudiese existir. Usted está consciente y de acuerdo con que es su responsabilidad el revisar este Aviso de Privacidad periódicamente para informarse de cualquier modificación. El uso del Sitio después de la publicación de la actualización de este Aviso de Privacidad significará que ha leído la nueva versión y que consiente al tratamiento de sus datos personales de acuerdo a lo establecido en ésta.
    %h2.subtitle-simple Su aceptación de este aviso de privacidad
    %p El uso del Sitio en cualquier forma y el llevar a cabo compras a través del Sitio, significará que usted conoce, ha leído y está de acuerdo con la última versión de este Aviso de Privacidad y todo lo establecido en el mismo, incluyendo el uso de sus datos personales para finalidades voluntarias y las transferencias de datos personales que pueden llevarse a cabo. Si no está de acuerdo con parte o la totalidad de este Aviso de Privacidad, por favor no utilice el Sitio y evite proporcionar cualquier dato personal.
    %h2.subtitle-simple Contáctenos
    %p 
      En caso de dudas o comentarios con relación al Aviso de Privacidad, o a su derecho a la privacidad y protección de datos, por favor póngase en contacto a través del correo electrónico
      %a{:href => "mailto: privacidad.mexico@decathlon.com"}privacidad.mexico@decathlon.com






