---
title: Trabaja en Decathlon
body_class: page
---
%section#wrapper-content.gradient.with-featured-image
  .featured-image.small{:style => "background-image: url(images/slide-historias-reales.jpg);"}
    .content
      .caption.medium
        %h1.text-above.border
          Beneficios

  .container
    .share.right.margin
      %span Compartir
      %ul
        %li
          %a.icon-facebook{:href => ""}
        %li
          %a.icon-twitter{:href => ""}
        %li
          %a.icon-linkedin{:href => ""}
        %li
          %a.icon-envelope{:href => ""}

    .row
      .col-md-4
        .box.box-benefit.box-testimonial.box-both.bg-blue
          .image-testimonial
            %img{:src => "images/beneficio-1.jpg", :alt => ""}/
          .content-testimonial
            .title Beneficio 1
            %p Nullam interdum libero a augue ultricies volutpat. Morbi et urna dapibus, dictum enim sit amet, fringilla orci. Cras elementum, dolor at volutpat dignissim, nulla ipsum sagittis ante, eu feugiat magna nisi eu orci. Mauris est mi, ornare non risus ultricies, sagittis pretium magna. In hac habitasse platea dictumst.
      .col-md-8
        .row
          .col-md-6
            .box.box-benefit.box-simple.bg-heart.bg-salmon
              .title Beneficio 2
          .col-md-6
            .box.box-benefit.box-simple.bg-heart.bg-orange
              .title Beneficio 3
        .row
          .col-md-12
            .box.box-benefit.box-simple.box-both.box-horizontal.bg-green
              .col-sm-6
                .title Beneficio 4
              .col-sm-6
                %p Fusce eget neque eros. In auctor elit ut quam semper faucibus. Nulla sit amet mattis elit, non gravida mauris.

    .row
      .col-md-8
        .box.box-benefit.box-testimonial.box-horizontal.bg-emeraldgreen
          .content-testimonial
            .title Beneficio 5
          .image-testimonial
            %img{:src => "images/beneficio-2.jpg", :alt => ""}/
      .col-md-4
        .box.box-benefit.box-simple.bg-heart.bg-salmon
          .title Beneficio 6
  
    .box.box-benefit.box-banner.bg-orange{:style => "background-image: url(images/banner-work-with-us-orange.jpg);"}
      %a{:href => "#"}
        .icon.icon-arrow-right
        .content
          .title
            ¿Te gustan estos beneficios?
            %br/
            Trabaja con nosotros
          .info Ver todas las ofertas de empleo que tenemos aquí para ti




