---
title: Trabaja en Decathlon
body_class: page
---
%section#wrapper-content.with-featured-image
  .featured-image.top{:style => "background-image: url(images/bg-contactanos.jpg);"}
    .content
      %h1.main-title.left Conctactános
      %form{:action => ""}
        .fields.row
          .col-md-8
            .field.simple
              %input{:type => "text", :placeholder => "Nombre"}/
            .field.simple
              %input{:type => "text", :placeholder => "Correo"}/
            .field.simple
              %input{:type => "text", :placeholder => "Teléfono"}/
            .field.simple
              %textarea{:name => "", :cols => "30", :rows => "10", :placeholder => "Mensaje"}
            .field.simple.btn-right
              %button.button Enviar

      .box.box-banner.bg-orange{:style => "background-image: url(images/banner-work-with-us-orange.jpg);"}
        %a{:href => "#"}
          .icon.icon-arrow-right
          .content
            .title
              ¿Te gustan estos beneficios?
              %br/
              Trabaja con nosotros
            .info Ver todas las ofertas de empleo que tenemos aquí para ti
