---
title: Trabaja en Decathlon
body_class: account
---
%section#wrapper-content.gradient.with-featured-image
  .featured-image.inactive.small{:style => "background-image: url(images/slide-account.jpg);"}
    .content
      .caption.full
        %h1.text-above.border
          Formulario de Registro
  .wrapper-tabs
    %ul.accordion-tabs.active-third
      %li.tab-item.emeraldgreen
        %a{:href => "cuenta-info.html"} 
          Mi información personal
      %li.tab-item.blue
        %a{:href => "cuenta-puestos.html"} Puestos para los que he aplicado
      %li.tab-item.salmon
        %i.icon-arrow-bottom
        %a{:href => "javascript:void(0)"} Recomendaciones

    .tab-content
      %h2.sub-title 
        %span Recomendaciones
      .wrapper-jobs.row
        .job-item.col-md-4
          .box.box-simple.bg-emeraldgreen
            .title Oferta 1
            %p Mientras terminas tus estudios, también ponemos a tu disposición la posibilidad de realizar tus prácticas con apoyo económico y a tiempo parcial.
            %a.btn.inline.center{:href => ""} Aplica para este puesto
        .job-item.col-md-4
          .box.box-simple.bg-salmon
            .title Oferta 2
            %p Mientras terminas tus estudios, también ponemos a tu disposición la posibilidad de realizar tus prácticas con apoyo económico y a tiempo parcial.
            %a.btn.inline.center{:href => ""} Aplica para este puesto
        .job-item.col-md-4
          .box.box-simple.bg-blue
            .title Oferta 3
            %p Mientras terminas tus estudios, también ponemos a tu disposición la posibilidad de realizar tus prácticas con apoyo económico y a tiempo parcial.
            %a.btn.inline.center{:href => ""} Aplica para este puesto