---
title: Trabaja en Decathlon
body_class: account
---
%section#wrapper-content.gradient.with-featured-image
  .featured-image.inactive.small{:style => "background-image: url(images/slide-account.jpg);"}
    .content
      .caption.full
        %h1.text-above.border
          Formulario de Registro
  .wrapper-tabs
    %ul.accordion-tabs.active-second
      %li.tab-item.emeraldgreen
        %a{:href => "cuenta-info.html"} 
          Mi información personal
      %li.tab-item.blue
        %i.icon-arrow-bottom
        %a{:href => "javascript:void(0)"} Puestos para los que he aplicado
      %li.tab-item.salmon
        %a{:href => "cuenta-recomendaciones.html"} Recomendaciones

    .tab-content
      %h2.sub-title 
        %span Mis postulaciones
      .wrapper-applications
        .postulation-item
          .offer
            Vendedor de piso
            %span Queretaro, Sucursal Palmas
          .steps
            .item-step.first
              .inner
                Postulada
                %span 14 septiembre
            .item-step.second.active
              .inner
                CV Visto
            .item-step.third
              .inner
                En Proceso
            .item-step.fourth
              .inner
                Finalista
          .options
            %button.remove
              %i.icon-cancel
              %span Eliminar postulación
        .postulation-item
          .offer
            Vendedor de piso
            %span Queretaro, Sucursal Palmas
          .steps
            .item-step.first
              .inner
                Postulada
                %span 14 septiembre
            .item-step.second.active
              .inner
                CV Visto
            .item-step.third
              .inner
                En Proceso
            .item-step.fourth
              .inner
                Finalista
          .options
            %button.remove
              %i.icon-cancel
              %span Eliminar postulación
        .postulation-item
          .offer
            Vendedor de piso
            %span Queretaro, Sucursal Palmas
          .steps
            .item-step.first
              .inner
                Postulada
                %span 14 septiembre
            .item-step.second.active
              .inner
                CV Visto
            .item-step.third
              .inner
                En Proceso
            .item-step.fourth
              .inner
                Finalista
          .options
            %button.remove
              %i.icon-cancel
              %span Eliminar postulación
        .postulation-item
          .offer
            Vendedor de piso
            %span Queretaro, Sucursal Palmas
          .steps
            .item-step.first
              .inner
                Postulada
                %span 14 septiembre
            .item-step.second.active
              .inner
                CV Visto
            .item-step.third
              .inner
                En Proceso
            .item-step.fourth
              .inner
                Finalista
          .options
            %button.remove
              %i.icon-cancel
              %span Eliminar postulación