---
title: Trabaja en Decathlon
body_class: account
---
%section#wrapper-content.gradient.with-featured-image
  .featured-image.inactive.small{:style => "background-image: url(images/slide-account.jpg);"}
    .content
      .caption.full
        %h1.text-above.border
          Formulario de Registro
  .wrapper-tabs
    %ul.accordion-tabs.active-first
      %li.tab-item.emeraldgreen
        %i.icon-arrow-bottom
        %a{:href => "javascript:void(0)"} 
          Mi información personal
      %li.tab-item.blue
        %a{:href => "cuenta-puestos.html"} Puestos para los que he aplicado
      %li.tab-item.salmon
        %a{:href => "cuenta-recomendaciones.html"} Recomendaciones

    .tab-content
      .section-form.personal-data
        %h2.sub-title 
          %span Datos personales
        .group-fields.row
          .col-md-2
            .avatar
              %img{:src => "images/avatar.jpg", :alt => ""}/
              %form{:action => ""}
                .field.file-simple
                  %input{:type => "file", :id => "uploadAvatar"}/
                  %label{:for => "uploadAvatar"} Subir Foto
          .col-md-10
            .fields.row
              .col-md-5
                .fields.row.required
                  .label.col-md-3
                    %label Nombre
                  .field.col-md-9
                    %input{:type => "text"}/
              .col-md-7
                .fields.row.required
                  .label.col-md-2
                    %label Apellidos
                  .field.col-md-10
                    %input{:type => "text"}/

            .fields.row
              .col-md-4
                .fields.row
                  .label.col-md-4
                    %label Género
                  .field.radio.col-md-4.col-xs-6
                    %label{:for => "male"}
                    %input{:name => "genre", :id => "male", :type => "radio"}
                    %span M
                  .field.radio.col-md-4.col-xs-6
                    %label{:for => "female"}
                    %input{:name => "genre", :id => "female", :type => "radio"}
                    %span F
              .col-md-8
                .fields.birthdate.row.required
                  .label.col-md-4
                    %label Fecha de nacimiento
                  .field.day.select.col-md-2.col-xs-3
                    .mask
                      %select{:name => ""}
                        %option{:value => ""} 1
                        %option{:value => ""} 2
                        %option{:value => ""} 3
                        %option{:value => ""} 4
                        %option{:value => ""} 5
                        %option{:value => ""} 6
                        %option{:value => ""} 7
                        %option{:value => ""} 8
                        %option{:value => ""} 9
                        %option{:value => ""} 10
                        %option{:value => ""} 11
                        %option{:value => ""} 12
                        %option{:value => ""} 13
                        %option{:value => ""} 14
                        %option{:value => ""} 15
                        %option{:value => ""} 16
                        %option{:value => ""} 17
                        %option{:value => ""} 18
                        %option{:value => ""} 19
                        %option{:value => ""} 20
                        %option{:value => ""} 21
                        %option{:value => ""} 22
                        %option{:value => ""} 23
                        %option{:value => ""} 24
                        %option{:value => ""} 25
                        %option{:value => ""} 26
                        %option{:value => ""} 27
                        %option{:value => ""} 28
                        %option{:value => ""} 29
                        %option{:value => ""} 30
                        %option{:value => ""} 31
                  .field.month.select.col-md-4.col-xs-5
                    .mask
                      %select{:name => ""}
                        %option{:value => ""} Enero
                        %option{:value => ""} Febrero
                        %option{:value => ""} Marzo
                        %option{:value => ""} Abril
                        %option{:value => ""} Mayo
                        %option{:value => ""} Junio
                        %option{:value => ""} Julio
                        %option{:value => ""} Agosto
                        %option{:value => ""} Septiembre
                        %option{:value => ""} Octubre
                        %option{:value => ""} Noviembre
                        %option{:value => ""} Diciembre
                  .field.year.select.col-md-2.col-xs-4
                    .mask
                      %select{:name => ""}
                        %option{:value => ""} 1930
                        %option{:value => ""} 1931
                        %option{:value => ""} 1932
                        %option{:value => ""} 1933
                        %option{:value => ""} 1934
                        %option{:value => ""} 1935
                        %option{:value => ""} 1936
                        %option{:value => ""} 1937
                        %option{:value => ""} 1938
                        %option{:value => ""} 1939
                        %option{:value => ""} 1940
                        %option{:value => ""} 1941
                        %option{:value => ""} 1942
                        %option{:value => ""} 1943
                        %option{:value => ""} 1944
                        %option{:value => ""} 1945
                        %option{:value => ""} 1946
                        %option{:value => ""} 1947
                        %option{:value => ""} 1948
                        %option{:value => ""} 1949
                        %option{:value => ""} 1950
                        %option{:value => ""} 1951
                        %option{:value => ""} 1952
                        %option{:value => ""} 1953
                        %option{:value => ""} 1954
                        %option{:value => ""} 1955
                        %option{:value => ""} 1956
                        %option{:value => ""} 1957
                        %option{:value => ""} 1958
                        %option{:value => ""} 1959
                        %option{:value => ""} 1960
                        %option{:value => ""} 1961
                        %option{:value => ""} 1962
                        %option{:value => ""} 1963
                        %option{:value => ""} 1964
                        %option{:value => ""} 1965
                        %option{:value => ""} 1966
                        %option{:value => ""} 1967
                        %option{:value => ""} 1968
                        %option{:value => ""} 1969
                        %option{:value => ""} 1970
                        %option{:value => ""} 1971
                        %option{:value => ""} 1972
                        %option{:value => ""} 1973
                        %option{:value => ""} 1974
                        %option{:value => ""} 1975
                        %option{:value => ""} 1976
                        %option{:value => ""} 1977
                        %option{:value => ""} 1978
                        %option{:value => ""} 1979
                        %option{:value => ""} 1980
                        %option{:value => ""} 1981
                        %option{:value => ""} 1982
                        %option{:value => ""} 1983
                        %option{:value => ""} 1984
                        %option{:value => ""} 1985
                        %option{:value => ""} 1986
                        %option{:value => ""} 1987
                        %option{:value => ""} 1988
                        %option{:value => ""} 1989
                        %option{:value => ""} 1990
                        %option{:value => ""} 1991
                        %option{:value => ""} 1992
                        %option{:value => ""} 1993
                        %option{:value => ""} 1994
                        %option{:value => ""} 1995
                        %option{:value => ""} 1996
                        %option{:value => ""} 1997
                        %option{:value => ""} 1998
                        %option{:value => ""} 1999
                        %option{:value => ""} 2000
                        %option{:value => ""} 2001
                        %option{:value => ""} 2002
                        %option{:value => ""} 2003
                        %option{:value => ""} 2004
                        %option{:value => ""} 2005
                        %option{:value => ""} 2006
                        %option{:value => ""} 2007
                        %option{:value => ""} 2008
                        %option{:value => ""} 2009
                        %option{:value => ""} 2010
                        %option{:value => ""} 2011
                        %option{:value => ""} 2012
                        %option{:value => ""} 2013
                        %option{:value => ""} 2014
                        %option{:value => ""} 2015
                        %option{:value => ""} 2016

            .fields.row
              .col-md-5
                .fields.row.required
                  .label.col-md-3
                    %label Correo
                  .label.col-md-9
                    %input{:type => "text"}/
              .col-md-7
                .fields.row.required
                  .label.col-md-3
                    %label Teléfono
                  .field.col-md-9
                    %input{:type => "text", :placeholder => ""}/

            .fields.row
              .col-md-5
                .fields.row.required
                  .label.col-md-3
                    %label CURP
                  .field.col-md-9
                    %input{:type => "text"}/

        %h2.sub-title 
          %span Domicilio

        .group-fields.row
          .col-md-4
            .fields.row.required
              .label.col-md-3
                %label Dirección
              .field.col-md-9
                %input{:type => "text"}/
          .col-md-3
            .fields.row.required
              .label.col-md-3
                %label Estado
              .field.select.col-md-9
                .mask
                  %select{:name => ""}
                    %option{:value => ""} Estado
                    %option{:value => ""} Lorem
                    %option{:value => ""} Ipsum
                    %option{:value => ""} Dolor
                    %option{:value => ""} Sit
                    %option{:value => ""} Amet
          .col-md-3
            .fields.row.required
              .label.col-md-3
                %label Ciudad
              .field.select.col-md-9
                .mask
                  %select{:name => ""}
                    %option{:value => ""} Ciudad
                    %option{:value => ""} Lorem
                    %option{:value => ""} Ipsum
                    %option{:value => ""} Dolor
                    %option{:value => ""} Sit
                    %option{:value => ""} Amet
          .col-md-2
            .fields.row.required
              .label.col-md-4
                %label C.P.
              .field.col-md-8
                %input{:type => "text", :placeholder => "C.P."}/

        .group-fields.row
          .col-md-6
            .fields.row.required
              .label.col-md-6
                %label Movilidad/Cambio de residencia
              .field.radio.col-md-3.col-xs-6
                %label{:for => "siresidencia"}
                %input.radio-question{:name => "residencia", :id => "siresidencia", :type => "radio", :value => "si"}
                %span SI
              .field.radio.col-md-3.col-xs-6
                %label{:for => "noresidencia"}
                %input.radio-question{:name => "residencia", :id => "noresidencia", :type => "radio", :value => "no"}
                %span NO
          .col-md-6
            .fields.row.disabled
              .label.col-md-3
                %label ¿A donde?
              .field.radio.col-md-4.col-sm-6.col-xs-12
                %label{:for => "nacional"}
                %input.radio-option{:name => "adonde", :id => "nacional", :type => "radio", :disabled => "disabled"}
                %span Nacional
              .field.radio.col-md-5.col-sm-6.col-xs-12
                %label{:for => "internacional"}
                %input.radio-option{:name => "adonde", :id => "internacional", :type => "radio", :disabled => "disabled"}
                %span Internacional


      .section-form.education
        %h2.sub-title 
          %span Formacion
        .tagline Introduce tus ultimos estudios.

        .group-fields.row
          .col-md-6
            .fields.row
              .label.col-md-4
                %label Nivel de estudios
              .select.col-md-8
                .mask
                  %select{:name => ""}
                    %option{:value => ""} Seleccioa nivel de estudios
                    %option{:value => ""} Nivel
                    %option{:value => ""} Nivel
                    %option{:value => ""} Nivel
                    %option{:value => ""} Nivel
          .col-md-6
            .fields.row
              .label.col-md-3
                %label Institucion
              .field.select.col-md-9
                .mask
                  %select{:name => ""}
                    %option{:value => ""} Selecciona una institución
                    %option{:value => ""} Institución
                    %option{:value => ""} Institución
                    %option{:value => ""} Institución
                    %option{:value => ""} Institución
                    
        .group-fields.row
          .col-md-6
            .fields.row
              .label.col-md-4
                %label Área de estudios
              .field.select.col-md-8
                .mask
                  %select{:name => ""}
                    %option{:value => ""} Seleccioa un área
                    %option{:value => ""} Area
                    %option{:value => ""} Area
                    %option{:value => ""} Area
                    %option{:value => ""} Area



        .group-fields.row
          .col-md-8
            .fields.row.required
              .label.col-md-2
                %label.bold Estado
              .field.radio.col-md-4.col-xs-12
                %label{:for => "culminado"}
                %input{:name => "education", :id => "culminado", :type => "radio"}
                %span Culminado
              .field.radio.col-md-3.col-xs-12
                %label{:for => "cursando"}
                %input{:name => "education", :id => "cursando", :type => "radio"}
                %span Cursando
              .field.radio.col-md-3.col-xs-12
                %label{:for => "trunca"}
                %input{:name => "education", :id => "trunca", :type => "radio"}
                %span Trunca
          
      .section-form.languages
        %h2.sub-title 
          %span Idiomas
        .group-fields.row
          .col-md-4
            .field.select.col-md-12
              .mask
                %select{:name => ""}
                  %option{:value => ""} Selecciona un idioma
                  %option{:value => ""} Español
                  %option{:value => ""} Ingles
                  %option{:value => ""} Frances
                  %option{:value => ""} Aleman
                  %option{:value => ""} Italiano
                  %option{:value => ""} Portugues

        .group-fields.row
          .col-md-12
            .fields.required
              .label
                %label Nivel
          .col-md-12
            .fields.row
              .col-md-4
                .label.col-md-4
                  %label Hablado
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Basico
                      %option{:value => ""} Intermedio
                      %option{:value => ""} Nativo
              .col-md-4
                .label.col-md-4
                  %label Escrito
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Basico
                      %option{:value => ""} Intermedio
                      %option{:value => ""} Nativo
              .col-md-4
                .label.col-md-4
                  %label Lectura
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Basico
                      %option{:value => ""} Intermedio
                      %option{:value => ""} Nativo
          .col-md-12.btn-center
            %a.addlanguage.button.center{:href => ""} Agregar otro idioma

      .section-form.sports
        %h2.sub-title 
          %span 
            .required 
            Deportes
        .tagline Orden de importancia

        .group-fields.row
          .col-md-12
            .fields.row
              .fields.row.col-md-4
                .label.col-md-4
                  %label.bold Deporte 1
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
              .fields.row.col-md-4
                .label.col-md-4
                  %label Tipo
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
              .fields.row.col-md-4
                .label.col-md-4
                  %label Frecuencia
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem

        .group-fields.row
          .col-md-12
            .fields.row
              .fields.row.col-md-4
                .label.col-md-4
                  %label.bold Deporte 2
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
              .fields.row.col-md-4
                .label.col-md-4
                  %label Tipo
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
              .fields.row.col-md-4
                .label.col-md-4
                  %label Frecuencia
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem

        .group-fields.row
          .col-md-12
            .fields.row
              .fields.row.col-md-4
                .label.col-md-4
                  %label.bold Deporte 3
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
              .fields.row.col-md-4
                .label.col-md-4
                  %label Tipo
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
              .fields.row.col-md-4
                .label.col-md-4
                  %label Frecuencia
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem

        .group-fields.row
          .col-md-12
            .fields.row
              .label.col-md-3
                %label Otras aficiones deportivas
              .field.col-md-9
                %input{:type => "text", :placeholder => "Si quieres escribir más de una separalas usando comas ,"}/

      .section-form.about-you
        %h2.sub-title 
          %span Cuentanos sobre ti

        .group-fields.row
          .col-md-12
            .fields
              .label
                %label ¿Por qué quieres trabajar con nosotros?
          .col-md-12
            .fields
              %textarea{:name => "", :cols => "30", :rows => "10", :placeholder => "(máximo 500 caracteres)"}

        .group-fields.row
          .col-md-12
            .fields
              .label
                %label ¿En que departamento te gustaria trabajar con nosotros?
          .col-md-12
            .fields.row
              .fields.row.col-md-4
                .label.col-md-4
                  %label Depto 1
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
              .fields.row.col-md-4
                .label.col-md-4
                  %label Depto 2
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
              .fields.row.col-md-4
                .label.col-md-4
                  %label Depto 3
                .field.select.col-md-8
                  .mask
                    %select{:name => ""}
                      %option{:value => ""} Especificar
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem
                      %option{:value => ""} Lorem

        .group-fields.row
          .col-md-5
            .fields.row
              .label.col-md-3
                %label.bold Tipo de jornada
              .field.radio.col-md-5.col-xs-6
                %label{:for => "completa"}
                %input.radio-question{:name => "jornada", :id => "completa", :type => "radio", :value => "completa"}
                %span Completa
              .field.radio.col-md-4.col-xs-6
                %label{:for => "media"}
                %input.radio-question{:name => "jornada", :id => "media", :type => "radio", :value => "media"}
                %span Media
          .col-md-7
            .fields.row.disabled
              .label.col-md-1
                %label.bold Turno
              .field.radio.col-md-3.col-xs-12
                %label{:for => "matutino"}
                %input.radio-option{:name => "turno", :id => "matutino", :type => "radio", :disabled => "disabled"}
                %span Matutino
              .field.radio.col-md-4.col-xs-12
                %label{:for => "vespertino"}
                %input.radio-option{:name => "turno", :id => "vespertino", :type => "radio", :disabled => "disabled"}
                %span Vespertino
              .field.radio.col-md-4.col-xs-12
                %label{:for => "indiferente"}
                %input.radio-option{:name => "turno", :id => "indiferente", :type => "radio", :disabled => "disabled"}
                %span Indiferente

        .group-fields.row
          .col-md-12
            .fields.required
              .label
                %label.bold ¿Como te enteraste de la oferta?
          .col-md-12
            .fields.row
              .field.checkbox.col-md-4.col-xs-12
                %label{:for => "internet"}
                %input{:name => "enteraste", :id => "internet", :type => "checkbox"}
                %span Internet / Portal de empleo
              .field.checkbox.col-md-3.col-xs-12
                %label{:for => "redes"}
                %input{:name => "enteraste", :id => "redes", :type => "checkbox"}
                %span Redes Sociales
              .field.checkbox.col-md-3.col-xs-12
                %label{:for => "comentaron"}
                %input{:name => "enteraste", :id => "comentaron", :type => "checkbox"}
                %span Me comentaron
              .field.checkbox.col-md-2.col-xs-12
                %label{:for => "otro"}
                %input{:name => "enteraste", :id => "otro", :type => "checkbox"}
                %span Otro


      .section-form.upload-cv
        %h2.sub-title
          %span Adjuntar CV en word, texto o pdf
          .tagline (máximo 1mb.)
        .group-fields.row
          .col-md-9
            .fields.row
              .label.col-md-2
                %label.bold Adjuntar CV
              .field.file-custom.col-md-10
                %input.inputfile{"data-multiple-caption" => "{count} files selected", :id => "uploadCV", :type => "file"}/
                %label.row{:for => "uploadCV"}
                  .textfield.col-md-8.col-sm-8
                    %span
                    .text El nombre del archivo no debe contener puntos, acentos o caracteres especiales, ejemplo de archivo correcto: cvmanuel.pdf
                  .button.col-md-4.col-sm-4 Seleccionar archivo
      .section-form.upload-video
        %h2.sub-title
          %span Adjuntar Video de presentación en formato .mp4
          .tagline (máximo 5mb.)
        .group-fields.row
          .col-md-9
            .fields.row
              .label.col-md-2
                %label.bold Adjuntar video
              .field.file-custom.col-md-10
                %input.inputfile{"data-multiple-caption" => "{count} files selected", :id => "uploadVideo", :type => "file"}/
                %label.row{:for => "uploadVideo"}
                  .textfield.col-md-8.col-sm-8
                    %span
                    .text El nombre del archivo no debe contener puntos, acentos o caracteres especiales, ejemplo de archivo correcto: videomanuel.pdf
                  .button.col-md-4.col-sm-4 Seleccionar archivo
      .col-md-12.btn-center
        %button.button Guardar
