---
title: Trabaja en Decathlon
body_class: admin
---
!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0 maximum-scale=1.0'}/
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || ""
    = stylesheet_link_tag "style"
    %link{:rel => "shortcut icon", :type => "image/png", :href => "images/favicon.png"}/
    %link{:rel => "icon", :type => "image/png", :href => "images/favicon.png"}/
    %link{:rel => "icon", :type => "image/x-icon", :href => "images/favicon.ico"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes =>"114x114", :href => "images/apple-touch-icon-114x114-precomposed.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes =>"72x72", :href => "images/apple-touch-icon-72x72-precomposed.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :href => "images/apple-touch-icon-57x57-precomposed.png"}/

  %body{class: current_page.data.body_class || 'page'}
    / Header
    = partial "layouts/header-admin"
    / Content
    %section#wrapper-content.gradient.with-featured-image
      .featured-image.small{:style => "background-image: url(http://placehold.it/2526x462);"}
        .content
          .caption.full
            %h1.text-above.border
              Gestor de universidades
      .container
        %h2.sub-title 
          %span Lista de estudiantes
        .section-content
          %h3.title-secondary Buscador
          .search-items
            .fields
              .label.col-sm-2.col-xs-3
                %label Name
              .field.col-sm-10.col-xs-9
                %input{:type => "text"}/
            .fields
              .label.col-sm-2.col-xs-3
                %label Field
              .field.col-sm-10.col-xs-9
                %input{:type => "text"}/
            .fields
              .label.col-sm-2.col-xs-3
                %label Field
              .field.col-sm-10.col-xs-9
                %input{:type => "text"}/
            .fields
              .btn-both.col-md-2.col-md-offset-8.col-xs-6
                %button.no-margin Borrar
              .btn-both.col-md-2.col-xs-6
                %button.no-margin Buscar

        .section-content
          %h3.title-secondary
            Resultados
          .tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe beatae iure officiis aspernatur, sunt alias.
          .add-button
            %button.button Agregar
          %table
            %thead
              %tr
                %th Nombre / Apellido
                %th Edad
                %th Estudios
                %th Tienda
                %th Deporte
                %th Frecuencia
                %th Acciones
            %tbody
              %tr
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Acciones"} 
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                  .action-item.edit
                    %a{:href => "", :title => "Editar"}
                      %i.icon-edit
                  .action-item.delete
                    %a{:href => "", :title => "Eliminar"}
                      %i.icon-cancel
              %tr
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Acciones"} 
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                  .action-item.edit
                    %a{:href => "", :title => "Editar"}
                      %i.icon-edit
                  .action-item.delete
                    %a{:href => "", :title => "Eliminar"}
                      %i.icon-cancel
              %tr
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Acciones"} 
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                  .action-item.edit
                    %a{:href => "", :title => "Editar"}
                      %i.icon-edit
                  .action-item.delete
                    %a{:href => "", :title => "Eliminar"}
                      %i.icon-cancel
              %tr
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Acciones"} 
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                  .action-item.edit
                    %a{:href => "", :title => "Editar"}
                      %i.icon-edit
                  .action-item.delete
                    %a{:href => "", :title => "Eliminar"}
                      %i.icon-cancel
              %tr
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Acciones"} 
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                  .action-item.edit
                    %a{:href => "", :title => "Editar"}
                      %i.icon-edit
                  .action-item.delete
                    %a{:href => "", :title => "Eliminar"}
                      %i.icon-cancel
              %tr
                %td{"data-title" => "Nombre / Apellido"} Ilsee Rosas
                %td{"data-title" => "Edad"} 32
                %td{"data-title" => "Estudios"} Licenciatura
                %td{"data-title" => "Tienda"} Sta. Rosa
                %td{"data-title" => "Deporte"} Natación
                %td{"data-title" => "Frecuencia"} Diaria
                %td{"data-title" => "Acciones"} 
                  .action-item.view
                    %a{:href => "", :title => "Ver"}
                      %i.icon-eye
                  .action-item.edit
                    %a{:href => "", :title => "Editar"}
                      %i.icon-edit
                  .action-item.delete
                    %a{:href => "", :title => "Eliminar"}
                      %i.icon-cancel

    / Footer
    = partial "layouts/footer-admin"

  = javascript_include_tag "script"
  %script
    document.body.innerHTML = document.body.innerHTML.replace(/>\s+</g, '><');