---
title: Trabaja en Decathlon
body_class: home
---
%section#wrapper-content.with-featured-image
  .featured-image.medium{:style => "background-image: url(images/slide-home.jpg);"}
    .content
      .caption
        %h1.text-above
          Trabaja en Decathlon
        .text-below
          ¿Quieres buscar trabajo ahora?
          %a{:href => ""} Haz clic aquí
  .container
    //Caja principal + Estilo de caja + (Ubicacion Flecha) + (Modo de caja Vertical/Horizontal) + Imagen de fondo + Color de fondo
    .row
      .col-md-4
        .box.box-simple.bg-jobs.bg-green
          .inner-box
            .hire Puesto:
            .position Vendedor
            %a.btn{:href => ""} Ver más +
      .col-md-8
        .box.box-testimonial.arrow-left.box-horizontal.bg-blue
          .image-testimonial
            %img{:src => "images/testimonial-ana-landa.jpg", :alt => ""}/
          .content-testimonial
            .name Ana Landa
            .position Vendedora
            %p Amo trabajar en Decathlon porque me ha ayudado a crecer como persona, me permitio seguir estudiando y ahora soy la mejor vendedora a nivel regional.
    .row
      .col-md-4
        .box.box-testimonial.aw-right.box-both.bg-orange
          .image-testimonial
            %img{:src => "images/testimonial-andres.jpg", :alt => ""}/
          .content-testimonial.custom-height
            .name Andrés
            .position Repartidor
            %p Amo trabajar en Decathlon porque me ha ayudado a crecer como persona, me permitio seguir estudiando y ahora soy la mejor vendedora a nivel regional.
      .col-md-8
        .row
          .col-md-6
            .box.box-simple.bg-jobs.bg-blue
              .inner-box
                .hire Puesto:
                .position Vendedor
                %a.btn{:href => ""} Ver más +
          .col-md-6
            .box.box-mini.box-data.bg-white
              .number 13,078
              .data
                .icon.icon-business
                .text Millones de tiendas decathlon en el mundo
            
            .box.box-mini.bg-salmon
              .statement ¿Quieres buscar trabajo ahora?
              %a.btn{:href => ""} Haz clíc aquí
        .row
          .col-md-12
            .box.box-testimonial.arrow-right.box-horizontal.bg-green
              .image-testimonial
                %img{:src => "images/testimonial-dulce.jpg", :alt => ""}/
              .content-testimonial
                .name Dulce
                .position Diseñadora
                %p Amo trabajar en Decathlon porque me ha ayudado a crecer como persona, me permitio seguir estudiando y ahora soy la mejor vendedora a nivel regional.
    .row
      .col-md-4
        .box.box-simple.bg-jobs.bg-emeraldgreen
          .inner-box
            .hire Puesto:
            .position Gerente
            %a.btn{:href => ""} Ver más +
        
        .box.box-simple.no-bg.box-data.bg-white
          .number 28,567
          .data
            .icon.icon-people
            .text Millones de empleados en todo el mundo
      .col-md-4
        .box.box-testimonial.middle.aw-right.box-both.bg-orange
          .image-testimonial
            %img{:src => "images/testimonial-rosa.jpg", :alt => ""}/
          .content-testimonial
            .name Rosa
            .position Gerente Regional
            %p Amo trabajar en Decathlon porque me ha ayudado a crecer como persona, me permitio seguir estudiando y ahora soy la mejor vendedora a nivel regional.
      .col-md-4
        .box.box-simple.bg-winners.bg-white
          .statement-head Nombrada la empresa 
          .value 1
          .statement-footer 
            a nivel mundial con respecto
            %br/
            al crecimiento de los empleados
        
        .box.box-simple.bg-jobs.bg-green.custom-height.padding
          .inner-box
            .statement ¿Por qué trabajar con nosotros?
            %a.btn{:href => ""} Ver más +
  
    .box.box-banner.bg-salmon{:style => "background-image: url(images/banner-work-with-us.jpg);"}
      %a{:href => "#"}
        .icon.icon-arrow-right
        .content
          .title Trabaja en Decathlon
          .info Ver todas las ofertas de empleo que tenemos aquí para ti




