---
title: Trabaja en Decathlon
body_class: page
---
%section#wrapper-content.gradient.with-featured-image
  .featured-image.small{:style => "background-image: url(images/slide-puestos-trabajo.jpg);"}
    .content
      .caption.medium
        %h1.text-above.border
          Puestos de trabajo

  .container
    .row
      .col-md-4
        .box.box-testimonial.aw-right.box-both.bg-blue
          .image-testimonial
            %img{:src => "images/testimonial-dulce.jpg", :alt => ""}/
          .content-testimonial
            .name Vendedor deportista
            %p Asesora a nuestros clientes para que realicen la mejor elección y apoya al Responsable de Sección en todas las acciones comerciales, en las tiendas. No necesitas experiencia.
            %a.btn.mini{:href => ""} Aplica para este puesto
      .col-md-8
        .row
          .col-md-12
            .box.box-testimonial.arrow-left.box-horizontal.bg-salmon
              .image-testimonial
                %img{:src => "images/testimonial-andres.jpg", :alt => ""}/
              .content-testimonial
                .name Operario logístico
                %p Asesora a nuestros clientes para que realicen la mejor elección y apoya al Responsable de Sección en todas las acciones comerciales, en las tiendas. En logística, gestiona el aprovisionamiento, el stock. No necesitas experiencia.
                %a.btn.mini{:href => ""} Aplica para este puesto
          .col-md-12
            .box.box-video
              .youtube#ur80UzISzz0{"data-params" => "modestbranding=1&showinfo=0&vq=hd720", "style" => "width:657px;height:319px;"}
                %img{:src => "images/video-one.jpg", :alt => ""}/
                .play.icon-play

    .row
      .col-md-8
        .row
          .col-md-12
            .box.box-video
              .youtube#ur80UzISzz0{"data-params" => "modestbranding=1&showinfo=0&vq=hd720", "style" => "width:657px;height:319px;"}
                %img{:src => "images/video-one.jpg", :alt => ""}/
                .play.icon-play
          .col-md-12
            .box.box-testimonial.arrow-left.box-horizontal.bg-emeraldgreen
              .image-testimonial
                %img{:src => "images/testimonial-andres.jpg", :alt => ""}/
              .content-testimonial
                .name Responsable de sección
                %p Asesora a nuestros clientes para que realicen la mejor elección y apoya al Responsable de Sección en todas las acciones comerciales, en las tiendas. En logística, gestiona el aprovisionamiento, el stock. No necesitas experiencia.
                %a.btn.mini{:href => ""} Aplica para este puesto
      .col-md-4
        .box.box-testimonial.aw-right.box-both.bg-orange
          .image-testimonial
            %img{:src => "images/testimonial-andres.jpg", :alt => ""}/
          .content-testimonial
            .name Responsable logístico
            %p Asesora a nuestros clientes para que realicen la mejor elección y apoya al Responsable de Sección en todas las acciones comerciales, en las tiendas. No necesitas experiencia.
            %a.btn.mini{:href => ""} Aplica para este puesto

    .row
      .col-md-4
        .box.box-testimonial.aw-right.box-both.bg-blue
          .image-testimonial
            %img{:src => "images/testimonial-dulce.jpg", :alt => ""}/
          .content-testimonial
            .name Gestor de aduanas
            %p Asesora a nuestros clientes para que realicen la mejor elección y apoya al Responsable de Sección en todas las acciones comerciales, en las tiendas. No necesitas experiencia.
            %a.btn.mini{:href => ""} Aplica para este puesto
      .col-md-8
        .row
          .col-md-12
            .box.box-video
              .youtube#ur80UzISzz0{"data-params" => "modestbranding=1&showinfo=0&vq=hd720", "style" => "width:657px;height:319px;"}
                %img{:src => "images/video-one.jpg", :alt => ""}/
                .play.icon-play
          .col-md-12
            .box.box-video
              .youtube#ur80UzISzz0{"data-params" => "modestbranding=1&showinfo=0&vq=hd720", "style" => "width:657px;height:319px;"}
                %img{:src => "images/video-one.jpg", :alt => ""}/
                .play.icon-play

    .row
      .col-md-8
        .box.box-video
          .youtube#ur80UzISzz0{"data-params" => "modestbranding=1&showinfo=0&vq=hd720", "style" => "width:657px;height:319px;"}
            %img{:src => "images/video-one.jpg", :alt => ""}/
            .play.icon-play
      .col-md-4
        .box.box-simple.bg-salmon.custom-height.padding
          .inner-box
            .statement Sube tu curriculum y busca ofertas
            %a.btn.inline.center{:href => ""} Haz click aquí


    .box.box-banner.bg-orange{:style => "background-image: url(images/banner-work-with-us-orange.jpg);"}
      %a{:href => "#"}
        .icon.icon-arrow-right
        .content
          .title
            ¿Te gustan estos beneficios?
            %br/
            Trabaja con nosotros
          .info Ver todas las ofertas de empleo que tenemos aquí para ti










