---
title: Trabaja en Decathlon
body_class: page subitem
---
%section#wrapper-content.gradient.with-featured-image
  .featured-image.small{:style => "background-image: url(images/slide-historias-reales.jpg);"}
    .content
      .caption.medium
        %h1.text-above.border
          Historias Reales

  .container
    .share.right.margin
      %span Compartir
      %ul
        %li
          %a.icon-facebook{:href => ""}
        %li
          %a.icon-twitter{:href => ""}
        %li
          %a.icon-linkedin{:href => ""}
        %li
          %a.icon-envelope{:href => ""}

    .row
      .col-md-4
        .box.box-testimonial.aw-right.box-both.bg-blue
          .image-testimonial
            %img{:src => "images/testimonial-andres.jpg", :alt => ""}/
          .content-testimonial
            .name Andrés
            .position Repartidor
            %p Amo trabajar en Decathlon porque me ha ayudado a crecer como persona, me permitio seguir estudiando y ahora soy la mejor vendedora a nivel regional.
            %a.btn.mini{:href => ""} Solicita el mismo puesto que Andrés
      .col-md-8
        .row
          .col-md-12
            .box.box-testimonial.arrow-left.box-horizontal.bg-salmon
              .image-testimonial
                %img{:src => "images/testimonial-ana-landa.jpg", :alt => ""}/
              .content-testimonial
                .name Ana
                .position Vendedora
                %p Amo trabajar en Decathlon porque me ha ayudado a crecer como persona, me permitio seguir estudiando y ahora soy la mejor vendedora a nivel regional.
                %a.btn.mini{:href => ""} Solicita el mismo puesto que Ana
          .col-md-12
            .box.box-video
              .youtube#ur80UzISzz0{"data-params" => "modestbranding=1&showinfo=0&controls=0&vq=hd720", "style" => "width:657px;height:319px;"}
                %img{:src => "images/video-one.jpg", :alt => ""}/
                .play.icon-play

    .row
      .col-md-8
        .box.box-testimonial.arrow-left.box-horizontal.bg-emeraldgreen
          .image-testimonial
            %img{:src => "images/testimonial-dulce.jpg", :alt => ""}/
          .content-testimonial
            .name Rosa
            .position Vendedora
            %p Amo trabajar en Decathlon porque me ha ayudado a crecer como persona, me permitio seguir estudiando y ahora soy la mejor vendedora a nivel regional.
            %a.btn.mini{:href => ""} Solicita el mismo puesto que Rosa
      .col-md-4
        .box.box-simple.bg-jobs.bg-salmon
          .hire Puesto:
          .position Vendedor
          %a.btn{:href => ""} Ver más +

    .row
      .col-md-8
        .row
          .col-md-12
            .box.box-video
              .youtube#kw4_24hRzB4{"data-params" => "modestbranding=1&showinfo=0&controls=0&vq=hd720", "style" => "width:657px;height:319px;"}
                %img{:src => "images/video-two.jpg", :alt => ""}/
                .play.icon-play
        .row
          .col-md-6
            .box.box-simple.bg-jobs.bg-salmon
              .hire Puesto:
              .position Gerente
              %a.btn{:href => ""} Ver más +
          .col-md-6
            .box.box-simple.bg-jobs.bg-emeraldgreen
              .hire Puesto:
              .position Repartidor
              %a.btn{:href => ""} Ver más +
      .col-md-4
        .box.box-testimonial.aw-right.box-both.bg-blue
          .image-testimonial
            %img{:src => "images/testimonial-andres.jpg", :alt => ""}/
          .content-testimonial
            .name Andrés
            .position Repartidor
            %p Amo trabajar en Decathlon porque me ha ayudado a crecer como persona, me permitio seguir estudiando y ahora soy la mejor vendedora a nivel regional.
            %a.btn.mini{:href => ""} Solicita el mismo puesto que Andrés

    .box.box-banner.bg-orange{:style => "background-image: url(images/banner-work-with-us-orange.jpg);"}
      %a{:href => "#"}
        .icon.icon-arrow-right
        .content
          .title
            ¿Te gustan estos beneficios?
            %br/
            Trabaja con nosotros
          .info Ver todas las ofertas de empleo que tenemos aquí para ti










