---
title: Trabaja en Decathlon
body_class: page subitem
---
%section#wrapper-content
  .container.article
    .share
      %span Compartir
      %ul
        %li
          %a.icon-facebook{:href => ""}
        %li
          %a.icon-twitter{:href => ""}
        %li
          %a.icon-linkedin{:href => ""}
        %li
          %a.icon-envelope{:href => ""}
    .title-post
      .inner
        Conoce más sobre decathlon
        %span
          ¿Qué somos y dónde estamos
    .image
      %img{:src => "images/image-decathlon.jpg"}/

    .content
      %p Accesibilidad a través del precio, conservando una fuerte exigencia en la calidad de nuestros productos. Tiendas senci- llas, una logística óptima, organizaciones eficaces y una voluntad permanente sobre el control de los gastos nos permi- ten seguir bajando regularmente nuestros precios.
      %p Accesibilidad a través de una amplia gama de productos deportivos. Esta gama está compuesta tanto por nuestras marcas propias (tales como Quechua, b'Twin, Kipsta o Tribord...) como por productos de marcas Internacionales.
      %p Además de estos productos, DECATHLON propone igualmente numerosos servicios que facilitan la práctica deportiva: nuestros talleres, nuestros servicios de personalización, la financiación, nuestra garantía, nuestras zonas de prue- ba/práctica dentro de nuestras propias tiendas.
      .quote
        Bauhaus tendrá
        %span
          13.500 m2
        de superficie
      %p A diario, nuestros colaboradores, autónomos y apasionados por el deporte, ofrecen el mejor consejo técnico, en tiendas agradables.
      %p En España contamos con 100 tiendas y 7 almacenes logísticos, y estamos en pleno proceso de expansión. Nuestra expansión nos ha llevado a convertirnos en una de las principales referencias en comercio deportivo, interactivo y lúdico.
      %p Con más de 70 deportes bajo el mismo techo, otra de nuestras señas de identidad es la innovación y el desarrollo, con el objetivo de promover la salud y el bienestar por el deporte. Nuestras marcas, con más de 65 ingenieros investigadores internos y alrededor de 50 laboratorios internos y externos, desarrollan más de 3500 productos nuevos y más de 50 innovaciones anuales.
      .phrase Si estás hecho de deporte, y el servicio al cliente te apasiona, trabaja en Decathlon

    .box.box-banner.bg-salmon{:style => "background-image: url(images/banner-work-with-us.jpg);"}
      %a{:href => "#"}
        .icon.icon-arrow-right
        .content
          .title 
            ¿Te identificas?
            %br/
            Trabaja con nosotros
          .info Ver todas las ofertas de empleo que tenemos aquí para ti