---
title: Trabaja en Decathlon
body_class: page
---
%section#wrapper-content.gradient.with-featured-image
  .featured-image.small{:style => "background-image: url(images/slide-historias-reales.jpg);"}
    .content
      .caption.medium
        %h1.text-above.border
          Nuestros Valores

  .container
    .share.right.margin
      %span Compartir
      %ul
        %li
          %a.icon-facebook{:href => ""}
        %li
          %a.icon-twitter{:href => ""}
        %li
          %a.icon-linkedin{:href => ""}
        %li
          %a.icon-envelope{:href => ""}

    .row
      .col-md-8
        .box.box-testimonial.box-horizontal.bg-blue
          .image-testimonial
            %img{:src => "images/vitalidad.jpg", :alt => ""}/
          .content-testimonial
            .title Vitalidad
            %p Si eres positivo y desbordas energía.
            %p Si, como todos los grandes deportistas, siempre buscas superarte y mejorar las cosas.
            %p Si tienes la capacidad de transformar las dificultades en oportunidades. Si te gusta ganar, compartes nuestros valores.
      .col-md-4
        .box.box-simple.bg-emeraldgreen
          .title Sinceridad
          %p.padding Mientras terminas tus estudios, también ponemos a tu disposición la posibilidad de realizar tus prácticas con apoyo económico y a tiempo parcial.

    .box.box-benefit.box-banner.bg-orange{:style => "background-image: url(images/banner-work-with-us-orange.jpg);"}
      %a{:href => "#"}
        .icon.icon-arrow-right
        .content
          .title
            ¿Te gustan estos beneficios?
            %br/
            Trabaja con nosotros
          .info Ver todas las ofertas de empleo que tenemos aquí para ti
