---
title: Trabaja en Decathlon
body_class: page
---
%section#wrapper-content.gradient.with-featured-image
  .featured-image.small{:style => "background-image: url(images/slide-account.jpg);"}
    .content
      .caption.medium
        %h1.text-above.border
          Ofertas de Empleo

  .container
    .wrapper-jobs.row
      .job-item.col-md-4
        .box.box-simple.bg-emeraldgreen
          .title Oferta 1
          %p Mientras terminas tus estudios, también ponemos a tu disposición la posibilidad de realizar tus prácticas con apoyo económico y a tiempo parcial.
          %a.btn.inline.center{:href => ""} Aplica para este puesto
          .share.white
            %span Compartir
            %ul
              %li
                %a.icon-facebook{:href => ""}
              %li
                %a.icon-twitter{:href => ""}
              %li
                %a.icon-linkedin{:href => ""}
              %li
                %a.icon-envelope{:href => ""}
      .job-item.col-md-4
        .box.box-simple.bg-salmon
          .title Oferta 2
          %p Mientras terminas tus estudios, también ponemos a tu disposición la posibilidad de realizar tus prácticas con apoyo económico y a tiempo parcial.
          %a.btn.inline.center{:href => ""} Aplica para este puesto
          .share.white
            %span Compartir
            %ul
              %li
                %a.icon-facebook{:href => ""}
              %li
                %a.icon-twitter{:href => ""}
              %li
                %a.icon-linkedin{:href => ""}
              %li
                %a.icon-envelope{:href => ""}
      .job-item.col-md-4
        .box.box-simple.bg-blue
          .title Oferta 3
          %p Mientras terminas tus estudios, también ponemos a tu disposición la posibilidad de realizar tus prácticas con apoyo económico y a tiempo parcial.
          %a.btn.inline.center{:href => ""} Aplica para este puesto
          .share.white
            %span Compartir
            %ul
              %li
                %a.icon-facebook{:href => ""}
              %li
                %a.icon-twitter{:href => ""}
              %li
                %a.icon-linkedin{:href => ""}
              %li
                %a.icon-envelope{:href => ""}
      .job-item.col-md-4
        .box.box-simple.bg-orange
          .title Oferta 4
          %p Mientras terminas tus estudios, también ponemos a tu disposición la posibilidad de realizar tus prácticas con apoyo económico y a tiempo parcial.
          %a.btn.inline.center{:href => ""} Aplica para este puesto
          .share.white
            %span Compartir
            %ul
              %li
                %a.icon-facebook{:href => ""}
              %li
                %a.icon-twitter{:href => ""}
              %li
                %a.icon-linkedin{:href => ""}
              %li
                %a.icon-envelope{:href => ""}
      .job-item.col-md-8
        .box.box-simple.bg-green
          .title Oferta 5 (Destacada)
          %p Asesora a nuestros clientes para que realicen la mejor elección y apoya al Responsable de Sección en todas las acciones comerciales, en las tiendas. En logística, gestiona el aprovisionamiento, el stock, la recepción y expediciónde productos. Buscamos deportistas practicantes y orientados al servicio cliente. No necesitas experiencia.
          %a.btn.inline.center{:href => ""} Aplica para este puesto
          .share.white
            %span Compartir
            %ul
              %li
                %a.icon-facebook{:href => ""}
              %li
                %a.icon-twitter{:href => ""}
              %li
                %a.icon-linkedin{:href => ""}
              %li
                %a.icon-envelope{:href => ""}
      .job-item.col-md-4
        .box.box-simple.bg-salmon
          .title Oferta 6
          %p Mientras terminas tus estudios, también ponemos a tu disposición la posibilidad de realizar tus prácticas con apoyo económico y a tiempo parcial.
          %a.btn.inline.center{:href => ""} Aplica para este puesto
          .share.white
            %span Compartir
            %ul
              %li
                %a.icon-facebook{:href => ""}
              %li
                %a.icon-twitter{:href => ""}
              %li
                %a.icon-linkedin{:href => ""}
              %li
                %a.icon-envelope{:href => ""}
      .job-item.col-md-4
        .box.box-simple.bg-blue
          .title Oferta 7
          %p Mientras terminas tus estudios, también ponemos a tu disposición la posibilidad de realizar tus prácticas con apoyo económico y a tiempo parcial.
          %a.btn.inline.center{:href => ""} Aplica para este puesto
          .share.white
            %span Compartir
            %ul
              %li
                %a.icon-facebook{:href => ""}
              %li
                %a.icon-twitter{:href => ""}
              %li
                %a.icon-linkedin{:href => ""}
              %li
                %a.icon-envelope{:href => ""}
      .job-item.col-md-4
        .box.box-simple.bg-emeraldgreen
          .title Oferta 8
          %p Mientras terminas tus estudios, también ponemos a tu disposición la posibilidad de realizar tus prácticas con apoyo económico y a tiempo parcial.
          %a.btn.inline.center{:href => ""} Aplica para este puesto
          .share.white
            %span Compartir
            %ul
              %li
                %a.icon-facebook{:href => ""}
              %li
                %a.icon-twitter{:href => ""}
              %li
                %a.icon-linkedin{:href => ""}
              %li
                %a.icon-envelope{:href => ""}

    .box.box-banner.bg-salmon{:style => "background-image: url(images/banner-work-with-us.jpg);"}
      %a{:href => "#"}
        .icon.icon-arrow-right
        .content
          .title Trabaja en Decathlon
          .info Ver todas las ofertas de empleo que tenemos aquí para ti

          