---
title: Trabaja en Decathlon
body_class: account
---
%section#wrapper-content.with-featured-image
  .featured-image.inactive.small{:style => "background-image: url(images/slide-account.jpg);"}
    .content
      .caption.full
        %h1.text-above.border
          Gerente
  .container.border-top
    %h2.sub-title 
      %span Salario a convenir
    
    .wrapper-offer
      %h3.title-secondary Descripcion
      %p Uno de los grupos empresariales mas fuertes de la región esta buscando personas con buena disposición, experiencia y ganas de trabajar en equipo en los campos de internet, publicidad y marketing. 

      %h3.title-secondary Actividades
      %ul
        %li Diseño de publicidad digital e impresa (flyers, espectaculares, imagen para videos y redes sociales).
        %li Creación de campañas publicitarias.
        %li Manejo de redes sociales y blogs.
      
      %h3.title-secondary Requisitos
      %ul
        %li Lic. En Diseño Gráfico
        %li Experiencia mínima de 2 años en puesto similar.
        %li Excelente nivel de manejo de Adobe.
        %li Persona proactiva, con facilidad para trabajar en equipo y buena actitud.
        %li Inglés avanzado 

      .phrase ¿Desea aplicar a este puesto?

      .btns.row
        .col-sm-6.center
          %a.button{:href => "#"} Si, Aplicar
        .col-sm-6.center
          %a.button{:href => "#"} No, Ver mas ofertas


