---
title: Trabaja en Decathlon
body_class: login
---
%section#wrapper-content.with-featured-image
  .featured-image.big{:style => "background-image: url(images/slide-login.jpg);"}
    .content
      %h1.main-title.shadow Recupera tu contraseña
      .description.shadow Por favor introduce la dirección de correo que usaste al registrate:
      %form.form-login{:action => ""}
        .group-fields.row
          .col-md-12
            .field.col-sm-offset-3.col-sm-4
              %input{:type => "text", :placeholder => "Email", :id => "email", :name => "_email", :class => "required"}/
            .field.col-sm-offset-0.col-sm-2.col-xs-offset-3.col-xs-6
              %button.button.full.no-margin Enviar

  .container
    .title Regístrate
    %form.form-singup{:action => ""}
      .group-fields.row
        .col-md-12
          .fields.row
            .field.col-sm-offset-1.col-sm-5
              %input{:type => "text", :placeholder => "Nombre", :id => "fos_user_registration_form_name", :name => "fos_user_registration_form[name]", :class => "required"}/
            .field.col-sm-5
              %input{:type => "text", :placeholder => "Apellido", :id => "fos_user_registration_form_lastName", :name => "fos_user_registration_form[lastName]", :class => "required"}/
      .group-fields.row
        .col-md-12
          .fields.row
            .field.col-sm-offset-1.col-sm-5
              %input{:type => "password", :placeholder => "Contraseña", :id => "fos_user_registration_form_plainPassword_first", :name => "fos_user_registration_form[plainPassword][first]", :class => "required"}/
            .field.col-sm-5
              %input{:type => "password", :placeholder => "Rescribir Contraseña", :id => "fos_user_registration_form_plainPassword_second", :name => "fos_user_registration_form[plainPassword][second]", :class => "required"}/
      .group-fields.row
        .col-md-12
          .fields.row
            .field.col-sm-offset-1.col-sm-5
              %input{:type => "text", :placeholder => "Correo", :id => "fos_user_registration_form_email", :name => "fos_user_registration_form[email]", :class => "required"}/
            .field.checkbox.col-sm-5
              %label{:for => "mostrar-contrasena"}
              %input{:name => "adonde", :type => "checkbox", :id => "mostrar-contrasena", :value => "mostrar"}/
              %span Mostrar contraseña
      .group-fields.row
        .col-md-12
          .fields.row
            .field.checkbox.col-sm-offset-1.col-sm-6
              %label{:for => "newsletter"}
              %input{:name => "adonde", :type => "checkbox", :id => "newsletter", :value => "si"}/
              %span.compact Quiero recibir información y ofertas similares de empleo
            .field.checkbox.col-sm-offset-1.col-sm-6
              %label{:for => "terminos"}
              %input{:name => "adonde", :type => "checkbox", :id => "terminos", :value => "si"}/
              %span.compact Acepto los términos y condiciones del canal de empleo
      .group-fields.row
        .col-md-12
          .fields.row
            .col-md-offset-5.col-md-6
              %button.button Continuar