---
title: Trabaja en Decathlon
body_class: admin
---
!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0 maximum-scale=1.0'}/
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || ""
    = stylesheet_link_tag "style"
    %link{:rel => "shortcut icon", :type => "image/png", :href => "images/favicon.png"}/
    %link{:rel => "icon", :type => "image/png", :href => "images/favicon.png"}/
    %link{:rel => "icon", :type => "image/x-icon", :href => "images/favicon.ico"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes =>"114x114", :href => "images/apple-touch-icon-114x114-precomposed.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :sizes =>"72x72", :href => "images/apple-touch-icon-72x72-precomposed.png"}/
    %link{:rel => "apple-touch-icon-precomposed", :href => "images/apple-touch-icon-57x57-precomposed.png"}/

  %body{class: current_page.data.body_class || 'page'}
    / Header
    = partial "layouts/header-admin"
    / Content
  %section#wrapper-content.gradient.with-featured-image
    .featured-image.small{:style => "background-image: url(images/slide-account.jpg);"}
      .content
        .caption.full
          %h1.text-above.border
            Puesto solicitado: Vendedor de Tienda
    .container
      .group-results.row
        .label.col-md-3
          Tipo de Jornada:
        .value.col-md-9
          Media
      .group-results.row
        .label.col-md-3
          Turno:
        .value.col-md-9
          Vespertino

      %h2.sub-title 
        %span Datos Personales

      .group-results.row
        .label.col-md-3
          Nombre (s) / Apellidos:
        .value.col-md-9
          Ana Claudia Delgadillo Flores

      .group-results.row
        .label.col-md-3
          Género: 
        .value.col-md-9
          Mujer
      .group-results.row
        .label.col-md-3
          Edad: 
        .value.col-md-9
          25 (13/08/1990) 
      .group-results.row
        .label.col-md-3
          Correo: 
        .value.col-md-9
          ana_maria@gmail.com
      .group-results.row
        .label.col-md-3
          Teléfono celular: 
        .value.col-md-9
          55 66 39 06 27 
      .group-results.row
        .label.col-md-3
          CURP: 
        .value.col-md-9
          DEFA0813DS7MSLL08 
      .group-results.row
        .label.col-md-3
          RFC: 
        .value.col-md-9
          NADA0813DS7
      .group-results.row
        .label.col-md-3
          SS: 
        .value.col-md-9
          2812345678
      .group-results.row
        .label.col-md-3
          Estado de residencia: 
        .value.col-md-9
          Ciudad de México
      .group-results.row
        .label.col-md-3
          Dirección: 
        .value.col-md-9
          Rio Duero 5, 8A, CP 06500, Col. Condesa
      .group-results.row
        .label.col-md-3
          Cambio de residencia: 
        .value.col-md-9
          SI, nacional

      %h2.sub-title 
        %span Formación

      .group-results.row
        .label.col-md-3
          Nivel de estudios: 
        .value.col-md-9
          Licenciatura, culminado 
      .group-results.row
        .label.col-md-3
          Área de estudios: 
        .value.col-md-9
          Diseño y MKT 
      .group-results.row
        .label.col-md-3
          Institución: 
        .value.col-md-9
          UVM

      %h2.sub-title 
        %span Idiomas

      %h3.title-value
        Ingles
      .group-results.row
        .label.col-md-3
          Hablado:
        .value.col-md-9
          Nativo
      .group-results.row
        .label.col-md-3
          Escrito:
        .value.col-md-9
          Básico 
      .group-results.row
        .label.col-md-3
          Lectura:
        .value.col-md-9
          Intermedio

      %h3.title-value
        Aleman
      .group-results.row
        .label.col-md-3
          Hablado:
        .value.col-md-9
          Básico
      .group-results.row
        .label.col-md-3
          Escrito:
        .value.col-md-9
          Básico 
      .group-results.row
        .label.col-md-3
          Lectura:
        .value.col-md-9
          Nativo

      %h2.sub-title 
        %span Deportes

      %h3.title-value
        %strong Deporte 1:
        Futbol
      .group-results.row
        .label.col-md-3
          Tipo: 
        .value.col-md-9
          Futbol
      .group-results.row
        .label.col-md-3
          Nivel: 
        .value.col-md-9
          Profesional

      %h3.title-value
        %strong Deporte 2:
        Futbol
      .group-results.row
        .label.col-md-3
          Tipo: 
        .value.col-md-9
          Futbol
      .group-results.row
        .label.col-md-3
          Nivel: 
        .value.col-md-9
          Profesional

      %h3.title-value
        %strong Deporte 3:
        Futbol
      .group-results.row
        .label.col-md-3
          Tipo: 
        .value.col-md-9
          Futbol
      .group-results.row
        .label.col-md-3
          Nivel: 
        .value.col-md-9
          Profesional

      %h3.title-value
        %strong Otras aficiones deportivas:
        padel, natación, yoga, pilates

      %h2.sub-title 
        %span ¿Por qué quieres trabajar con nosotros?

      %p.big Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat inventore laboriosam amet minus at doloremque doloribus eveniet voluptatibus odit incidunt voluptatum provident praesentium, illo explicabo, earum veritatis vel deleniti sequi beatae consequatur consectetur cum perferendis. Dignissimos impedit, reiciendis fugit quisquam placeat dicta, id ratione sint distinctio molestiae expedita laborum. Blanditiis, quas similique corporis ipsam voluptatum. Fuga cum sit eius, maiores magni nobis in est error cumque qui nihil cupiditate, perferendis, illum corporis excepturi aspernatur dolorem inventore quaerat consequuntur nulla ad animi quibusdam sint. Doloribus repudiandae libero repellendus laborum quos, itaque quis tempora, veritatis quidem amet. Ut nisi ullam ab saepe!

      %h2.sub-title 
        %span ¿En que departamentos te gustaría trabajar con nosotros?

      %p.big Departamento 1: Relaciones publicas
      %p.big Departamento 1: Relaciones publicas
      %p.big Departamento 1: Relaciones publicas

      %h2.sub-title 
        %span ¿Cómo te enteraste de la oferta?

      %p.big Internet / Portal de empleo

      %h2.sub-title 
        %span Archivos adjuntos

      %p.big 
        %a.download-action{:href => ""}
          %i.icon-download
          CV adjunto
        %a.download-action{:href => ""}
          %i.icon-download
          Video adjunto

      %form{:action => ""}
        .section-form
          %h2.sub-title 
            %span Marcar este CV como:

        .section-form
          .group-fields.button-action.row
            .col-md-12
              .fields.row
                .field.checkbox.col-sm-offset-1.col-sm-2
                  %label{:for => "interesante"}
                    %i.icon-star
                    Interesante
                  %input{:name => "button-action", :id => "interesante", :type => "checkbox"}
                .field.radio.col-sm-2
                  %label{:for => "contactado"}
                    %i.icon-phone-contact
                    Contactado
                  %input{:name => "button-action-radio", :id => "contactado", :type => "radio"}
                .field.radio.col-sm-2
                  %label{:for => "en-proceso"}
                    %i.icon-cog
                    En proceso
                  %input{:name => "button-action-radio", :id => "en-proceso", :type => "radio"}
                .field.radio.col-sm-2
                  %label{:for => "aprobado"}
                    %i.icon-check-circle
                    Aprobado
                  %input{:name => "button-action-radio", :id => "aprobado", :type => "radio"}
                .field.radio.col-sm-2
                  %label{:for => "descartado"}
                    %i.icon-cancel
                    Descartado
                  %input{:name => "button-action-radio", :id => "descartado", :type => "radio"}


    / Footer
    = partial "layouts/footer-admin"

  = javascript_include_tag "script"
  %script
    document.body.innerHTML = document.body.innerHTML.replace(/>\s+</g, '><');